<!DOCTYPE html>
<html lang="en">
{% include 'HOME/MODULOS/header.html' %}

<body class="hold-transition sidebar-mini">
    <div class="wrapper"> <!--Ajuste de tamaño-->
        <div class="preloader flex-column justify-content-center align-items-center"> <!--Telon-->
            <!--Animacion-->
            <img class="animation__wobble" src="{{ url_for('static', filename = 'dist/img/icons/logo.png')}}" alt="LOGO"
                height="80" width="80" />
        </div>
        <!--Navbar-->
        {% include 'HOME/MODULOS/nav-bar.html' %}
        <!-- /.navbar -->

        <!--Menu-->
        {% include 'HOME/MODULOS/menu.html' %}

        <!--MENSSAJE-->
        {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
        <script>
            Swal.fire({
                position: "top",
                icon: "success",
                title: "{{message}}",
                showConfirmButton: false,
                timer: 2500,
            });
        </script>
        {% endfor %} {% endif %} {% endwith %}

        <!--CONTENIDO-->
        <div class="content-wrapper">
            <div class="container-fluid mt-4"> <!--fluid. Ocupe todo el espacio en la pantalla-->
                <!-- reloj -->
                <div class="row">
                    <div class="col mt-10">
                        <div class="small-box bg-ligth ">
                            <div class="inner">
                                <h3><sup style="font-size: 4px"></sup></h3>
                                <h4 id="fecha"></h4>
                                <h4 id="hora"></h4>
                                <div class="icon">
                                    <i class="fa fa-solid fa-clock" style="color: rgb(122, 159, 173)"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!--TABLA DE BARRAS-->
                <div class="row">
                    <div class="col-md-8">
                        <div class="card card-outline card-dark">
                            <div class="card-header">
                                <h3 class="card-title"><i class="fa fa-chart-bar">   Reporte de entradas/salidas</h3></i>
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="card-body"> <!--Para que funcione el boton. -->
                                <div class="container-fluid mt-4">
                                    <canvas id="Pastel"> <!--Nombre de Grafica-->
                                    </canvas>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="row">
                                    <!-- /.col -->
                                    <div class="col-sm-3 col-6">
                                        <div class="description-block border-right">
                                            <span class="description-percentage text-success"><i
                                                    class="fas fa-caret-left"></i> </span>
                                            <h5 class="description-header">{{entradasTotales}}</h5>
                                            <span class="description-text">ENTRADAS TOTALES</span>
                                        </div>
                                        <!-- /.description-block -->
                                    </div>
                                    <!-- /.col -->
                                    <div class="col-sm-3 col-6">
                                        <div class="description-block border-right">
                                            <span class="description-percentage text-primary"><i
                                                    class="fas fa-caret-right"></i> </span>
                                            <h5 class="description-header">{{salidasTotales}}</h5>
                                            <span class="description-text">SALIDAS TOTALES</span>
                                        </div>
                                        <!-- /.description-block -->
                                    </div>
                                    <!-- /.col -->
                                    <div class="col-sm-3 col-6">
                                        <!-- /.description-block -->
                                    </div>
                                </div>
                                <!-- /.row -->
                            </div>
                            <!-- /.card-footer -->
                        </div>
                    </div>


                    <!--Cuadritos.
                    SMALL BOX-->
                    <div class="col-md-4">
                        <!-- small box ENTRADAS-->
                        <div class="info-box mb-3">
                            <span class="info-box-icon bg-gradient-olive elevation-3"><i
                                    class="fas fa-sign-in-alt"></i></span>
                            <div class="info-box-content">
                                <h5 class="info-box-text">Entradas</h5>
                                <span class="info-box-number">{{entradasTotales}}</span>
                                <span class="progress-description">
                                    Entradas Totales: {{entradasTotales}} <!-- Variable que se ira incremetando-->
                                </span>
                            </div>
                        </div>

                        <!-- small box SALIDAS-->
                        <div class="info-box mb-3">
                            <span class="info-box-icon bg-gradient-teal elevation-3"><i
                                    class="fas fa-sign-out-alt"></i></span>
                            <div class="info-box-content">
                                <h5 class="info-box-text">Salidas</h5>
                                <span class="info-box-number">{{salidasTotales}}</span>
                                <span class="progress-description">
                                    Salidas Totales: {{salidasTotales}} <!-- Variable que se ira incremetando-->
                                </span>
                            </div>
                        </div>

                        <!-- small box TRASNPORTISTAS-->
                        <div class="info-box mb-3">
                            <span class="info-box-icon bg-gradient-gray-dark elevation-3"><i
                                    class="fas fa-sign-out-alt"></i></span>
                            <div class="info-box-content">
                                <h5 class="info-box-text">Transportistas</h5>
                                <span class="info-box-number">{{transportistaTotales}}</span>
                                <span class="progress-description">
                                    Transportistas Existentes: {{transportistaTotales}}
                                    <!-- Variable que se ira incremetando-->
                                </span>
                            </div>
                        </div>

                        <!-- small box SELLER / DISTRIBUIDOR-->
                        <div class="info-box mb-3">
                            <span class="info-box-icon bg-gradient-lightblue elevation-3"><i
                                    class="fas fa-sign-out-alt"></i></span>
                            <div class="info-box-content">
                                <h5 class="info-box-text">Seller</h5>
                                <span class="info-box-number">{{sellerTotales}}</span>
                                <span class="progress-description">
                                    Seller Existentes: {{sellerTotales}} <!-- Variable que se ira incremetando-->
                                </span>
                            </div>
                        </div>
                    </div> <!--./col-->


                    <!-- TABLA: ENTRADAS DE PRODUCTOS  -->
                    <div class="col-md-7">
                        <div class="card">
                            <div class="card-header border-transparent">
                                <h3 class="card-title">
                                    <font face="Century">Productos con stock minimo </font>
                                </h3>

                                <div class="card-tools">
                                    <span class="badge badge-danger">{{entradasTotales}} </span>
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                </div>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body p-0">
                                <div class="table-responsive">
                                    <table class="table m-0 table-hover">
                                        <thead>
                                            <tr>
                                                <th>Producto</th>
                                                <th>Tipo Producto</th>
                                                <th>Categoria</th>
                                                <th>Seller</th>
                                                <th>Cantidad Minima</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for dato in entradasRecibidas %}
                                            <tr>
                                                <td>{{dato.nombreProducto}}</td>
                                                <td>{{dato.tipoProducto}}</td>
                                                <td>{{dato.categoria}}</td>
                                                <td>{{dato.distribuidor}}</td>                                           
                                                <td class="text-danger text-center">{{dato.stock}}</td>
                                            
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.table-responsive -->
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer clearfix">
                                <a href="/agregar-entradas" class="btn btn-sm btn-outline-success float-left">
                                    <font face="Calibri"> Nueva Entrada</font>
                                </a>
                                <a href="/entradas" class="btn btn-sm btn-outline-info float-right">
                                    <font face="Calibri"> Consultar Entradas </font>
                                </a>
                            </div>
                            <!-- /.card-footer -->
                        </div>
                    </div><!--./tableEntradas-->

                    <!-- TABLA: SALIDAS DE PRODUCTOS  -->
                    <div class="col-md-5">
                        <div class="card">
                            <div class="card-header border-transparent">
                                <h3 class="card-title">
                                    <font face="Century"> Ultimas Salidas </font>
                                </h3>

                                <div class="card-tools">
                                    
                                    <span class="badge badge-success">{{salidasTotales}} </span>
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                </div>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body p-0">
                                <div class="table-responsive">
                                    <table class="table m-0 table-hover">
                                        <thead>
                                            <tr>
                                                <th>ID Salida</th>
                                                <th>Fecha y Hora</th>
                                                <th>Producto</th>
                                                <th>Cantidad que salio</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for dato in salidasRecibidas %}
                                            <tr>
                                                <td>{{dato.identificador}}</td>
                                                <td>{{dato.fecha}}</td>
                                                <td>{{dato.nombreProducto}}</td>
                                                <td><span class="text-success text-center">{{dato.cantidad}}</td></span>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.table-responsive -->
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer clearfix">
                                <div class="class-text-center">
                                    <a href="/entradas" class="btn btn-sm btn-outline-info float-right">
                                        <font face="Calibri"> Consultar Salidas
                                    </a>
                                </div>
                            </div>
                            <!-- /.card-footer -->
                        </div>
                    </div><!--./tableSalidas-->
                </div><!--./row-->
            </div><!--container-fluid-->
        </div><!--wapper-->

        <!--Pie de pagina-->
        {% include 'HOME/MODULOS/footer.html' %}

        <!--Side - bar control-->
        {% include 'HOME/MODULOS/side-bar-control.html' %}

        <!--Sripts-->
        {% include 'HOME/MODULOS/scripts.html' %}

        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <!--Reloj-->
        <script src="{{ url_for('static',filename='dist/js/Admin/Reloj/reloj.js')}}"></script>
        <!--Graficas reportes-->
        <script src="{{url_for('static', filename = 'dist/js/graficas/graficaReportes.js')}}"></script>


        <script src="{{ url_for('static',filename='dist/js/Admin/Graficas/Pastel.js')}}"></script>

    </div><!--wapperAjuste-->
</body>

</html>