<!DOCTYPE html>
<html lang="en">
{% include 'HOME/MODULOS/header.html' %}

<body class="hold-transition sidebar-mini">
    <div class="wrapper"> <!--Ajuste de tamaño-->
        <div class="preloader flex-column justify-content-center align-items-center"> <!--Telon-->
            <!--Animacion-->
            <img class="animation__wobble" src="{{ url_for('static', filename = 'dist/img/icons/logo.png')}}" alt="LOGO"
                height="80" width="80" />
        </div>
        <!--Navbar-->
        {% include 'HOME/MODULOS/nav-bar.html' %}
        <!-- /.navbar -->

        <!--Menu-->
        {% include 'HOME/MODULOS/menu.html' %}

        <!--MENSSAJE-->
        {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
        <script>
            Swal.fire({
                position: "top",
                icon: "success",
                title: "BIENVENIDO",
                showConfirmButton: false,
                timer: 1500,
            });
        </script>
        {% endfor %} {% endif %} {% endwith %}

        <!--CONTENIDO-->
        <div class="content-wrapper">
            <div class="container-fluid mt-4"> <!--fluid. Ocupe todo el espacio en la pantalla-->
                <!-- reloj -->
                <div class="row">
                    <div class="col mt-10">
                        <div class="small-box bg-ligth ">
                            <div class="inner">
                                <h3><sup style="font-size: 4px"></sup></h3>
                                <h4 id="fecha"></h4>
                                <h4 id="hora"></h4>
                                <div class="icon">
                                    <i class="fa fa-solid fa-clock" style="color: rgb(122, 159, 173)"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Cuadritos. -->
                <div class="row">
                    <div class="col-sm-3">
                        <!-- small box ENTRADAS-->
                        <div class="info-box bg-gradient-olive">
                            <span class="info-box-icon"><i class="fas fa-sign-in-alt"></i></span>
                            <div class="icon">
                                <i class="fa fa-solid fa-box-open"></i>
                            </div>
                            <div class="info-box-content">
                                <h4 class="info-box-text"><strong>Entradas</strong></h4>
                                <span class="info-box-number">49</span> <!--Variable que se ira incrementando-->
                                <div class="progress">
                                    <div class="progress-bar" style="width: 50%">

                                    </div><!--Variable-->
                                </div>
                                <span class="progress-description">
                                    ----: <!--Regal de 3 . Variable que se ira incremetando-->
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <!-- small box SALIDAS -->
                        <div class="info-box bg-gradient-teal">
                            <span class="info-box-icon"><i class="fas fa-sign-out-alt"></i></span>
                            <div class="icon">
                                <i class="fa fa-solid fa-box"></i>
                            </div>
                            <div class="info-box-content">
                                <h4 class="info-box-text"><strong>Salidas</strong></h4>
                                <span class="info-box-number">16</span> <!--Variable que se ira incrementando-->
                                <div class="progress">
                                    <div class="progress-bar" style="width: 50%">
                                    </div><!--Variable-->
                                </div>
                                <span class="progress-description">
                                    -----: <!--Regal de 3 . Variable que se ira incremetando-->
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <!-- small box DISTRIBUIDOR O PROVEEDOR  -->
                        <div class="info-box bg-gradient-gray">
                            <span class="info-box-icon"><i class="fas fa-"></i></span>
                            <div class="icon">
                                <i class="fa fa-solid fa-"></i>
                            </div>
                            <div class="info-box-content">
                                <h4 class="info-box-text"><strong>Distribuidor/Provee</strong></h4>
                                <span class="info-box-number">10</span> <!--Variable que se ira incrementando-->
                                <div class="progress">
                                    <div class="progress-bar" style="width: 50%">
                                    </div><!--Variable-->
                                </div>
                                <span class="progress-description">
                                    -----: <!--Regal de 3 . Variable que se ira incremetando-->
                                </span>
                            </div>
                        </div>
                    </div>


                    <div class="col-sm-3">
                        <!-- small box  CLIENTES -->
                        <div class="info-box bg-gradient-info">
                            <span class="info-box-icon"><i class="fas fa-users"></i></span>
                            <div class="icon">
                                <i class="fa fa-solid fa-user-tie"></i>
                            </div>
                            <div class="info-box-content">
                                <h4 class="info-box-text"><strong>Clientes</strong></h4>
                                <span class="info-box-number">4</span> <!--Variable que se ira incrementando-->
                                <div class="progress">
                                    <div class="progress-bar" style="width: 50%">
                                    </div><!--Variable-->
                                </div>
                                <span class="progress-description">
                                    -----: <!--Regal de 3 . Variable que se ira incremetando-->
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>

            <!--CUADRITOS COLLAPSE
            
            PRODCUTOS ENTRADAS. -->
            <div class="card card-outline card-ligth">
                <div class="container text-center">
                    <div class="row aling-items-start">
                        <div class="col-md-6">
                            <div class="card card-outline card-olive">
                                <div class="card-header">
                                    <h3 class="card-title"><strong><i class="fas fa-truck-loading">

                                                Nuevos Productos </strong></h3></i></i>
                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                            <i class="fas fa-minus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <p class="text-left">
                                        Producto
                                    </p>
                                    <p class="text-left">
                                        Producto 1
                                    </p>
                                    <div class="text-center">
                                        <a href="/entradas" class="nav-link text-success">Consultar Entradas</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--PRODUCTOS  SALIDAS-->
                        <div class="col-md-6">
                            <div class="card card-outline card-teal">
                                <div class="card-header">
                                    <h3 class="card-title"><strong><i class="fas fa-truck-moving">
                                                Productos que salieron </strong></h3></i></i>
                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                            <i class="fas fa-minus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="card-body">
                                    {% for dato in salidasRecibidas %}
                                    <p class="text-left">
                                        {{dato.nombreProducto}}
                                    </p>
                                    {% endfor %}
                                    <p class="text-left">

                                    </p>
                                    <div class="text-center">
                                        <a href="/salidas" class="nav-link text-info">Consultar Salidas</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <br>

            <!--TABLA DE BARRAS-->
            <div class="card card-outline card-dark">
                <div class="card-header">
                    <h3 class="card-title">Reporte de entradas/salidas</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body"> <!--Para que funcione el boton. -->
                    <div class="container-fluid mt-4">
                        <canvas id="reportes">
                        </canvas>
                    </div>
                </div>
            </div>
        </div>

        <!--Pie de pagina-->
        {% include 'HOME/MODULOS/footer.html' %}

        <!--Side - bar control-->
        {% include 'HOME/MODULOS/side-bar-control.html' %}

        <!--Sripts-->
        {% include 'HOME/MODULOS/scripts.html' %}

        <!--Reloj-->
        <script src="{{ url_for('static',filename='dist/js/Admin/Reloj/reloj.js')}}"></script>
        <!--Graficas reportes-->
        <script src="{{url_for('static', filename = 'dist/js/graficas/graficaReportes.js')}}"></script>
    </div>
</body>

</html>