<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0"> <!--Scala. Compatibilidad-->
<!--estilos css del login-->
<link rel="stylesheet" href="{{url_for('static', filename = 'dist/login/css/style.css')}}">
<!--Apis de gogool de letras -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<!--css-->
<link rel="stylesheet"
    href="{{ url_for('static', filename = 'plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css')}}">
<!--js . para que muestre el mensaje flash-->
<script src="{{ url_for('static', filename = 'plugins/sweetalert2/sweetalert2.min.js')}}"></script>
<!--api que da estilo  las letras de gogle-->
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
<title>{{titulo}}</title>