<!DOCTYPE html>
<html lang="en">
{% include 'HOME/MODULOS/header.html' %}

<body class="hold-transition sidebar-mini">
    <div class="wrapper"> <!--Ajuste de tamaño-->
        <div class="preloader flex-column justify-content-center align-items-center"> <!--Telon-->
            <!--Animacion-->
            <img class="animation__wobble" src="{{ url_for('static', filename = 'dist/img/icons/LOGO.png')}}" alt="LOGO"
                height="80" width="80" />
        </div>
        <!--Navbar-->
        {% include 'HOME/MODULOS/nav-bar.html' %}
        <!-- /.navbar -->

        <!--Menu-->
        {% include 'HOME/MODULOS/menu.html' %}
        <!--CONTENIDO- Para que no se rompa el diseño-->
        <div class="content-wrapper">
            <section class="container mt-4">
                <div class="card">
                    <div class="card-header">
                        <h1 class="card-title"><i class="fas fa-solid fa-boxes">
                                <font face="Castellar"> CATEGORIAS
                            </i></font>
                        </h1>
                    </div>
                         <!-- AGREGAR -->
                         <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <!--Se pone la ruta del donde esta el formulario para agragar dicho prodcucto-->
                            <a href="/ingresar-categorias" class="nav-link">
                                <button type="submit" class="btn btn-outline-warning"><i class="fas fa-solid fa-boxes">
                                        Nueva Categoria</i></button> </a>
                        </div>
                        <!-- / / -->
                    
                    <!--Se pone la tabla-->
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th><i class="fas fa-hashtag">
                                            <font face="Century"> Codigo </font>
                                        </i></th>
                                    <th><i class="fas fa-boxes">
                                            <font face="Calibri"> Categoria </font>
                                        </i></th>
                                    <th class="text-center"><i class="fas fa-solid fa-screwdriver fa-wrench nav-icon">
                                            <font face="Calibri">Acciones
                                        </i></font>
                                    </th>
                                </tr>
                            </thead>
                            <tbody <!-- Iteracion por cada dato encontrado -->
                                {% for dato in categoriasRecibidas %}
                                <tr>
                                    <td>{{dato.codigo}}</td>
                                    <td>{{dato.nombreCategoria}}</td>
                                    <td class="text-center"> <a
                                            href="{{url_for('informacionCategoria', key=dato.codigo)}}"
                                            class="btn btn-outline-warning"> <i class="fas fa-edit nav-icon"></i> </a>
                                        <!--Boton Editar-->
                                        <a href="{{url_for('eliminarCategorias', key=dato.codigo)}}"
                                            class="btn btn-outline-danger"><i
                                                class="fas fa-solid fa-screwdriver fa-trash-alt nav-icon"></i> </a>
                                        <!--Boton Eliminar-->
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th><i class="fas fa-hashtag">
                                            <font face="Century"> Codigo </font>
                                        </i></th>
                                    <th><i class="fas fa-boxes">
                                            <font face="Calibri"> Categoria </font>
                                        </i></th>
                                    <th class="text-center"><i class="fas fa-solid fa-screwdriver fa-wrench nav-icon">
                                            <font face="Calibri">Acciones
                                        </i></font>
                                    </th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </section>
        </div>

        <!--Pie de pagina-->
        {% include 'HOME/MODULOS/footer.html' %}

        <!--Side- bar control -->
        {% include 'HOME/MODULOS/side-bar-control.html' %}

        <!--Sripts-->
        {% include 'HOME/MODULOS/scripts.html' %}
    </div>
</body>
</html>