<!DOCTYPE html>
<html lang="en">
{% include 'HOME/MODULOS/header.html' %}

<body class="hold-transition sidebar-mini">
    <div class="wrapper"> <!--Ajuste de tamaño-->
        <div class="preloader flex-column justify-content-center align-items-center"> <!--Telon-->
            <!--Animacion-->
            <img class="animation__wobble" src="{{ url_for('static', filename = 'dist/img/icons/loader.png')}}"
                alt="LOGO" height="60" width="60" />
        </div>
        <!--Navbar-->
        {% include 'HOME/MODULOS/nav-bar.html' %}
        <!-- /.navbar -->

        <!--Menu-->
        {% include 'HOME/MODULOS/menu.html' %}
        <!--CONTENIDO- Para que no se rompa el diseño-->
        <div class="content-wrapper">
            <section class="container mt-4">
        <!--Agregar-->
                <div class="card">
                    <div class="card-body">
                        <div class="card card-lightblue"> <!---->
                            <div class="card-header">
                                <h3 class="card-title"><div class="text-center"><i class="fas fa-solid fa-box-open"> <font face="Century">Agregar Productos</h3></i></font>
                            </div>
                            <!-- /.card-header -->
                            <!-- form start -->
                            <form class="form-horizontal" action="/agregar-productos" method="post">
                                <div class="card-body">
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label"><font face="Century">Producto</label></font>
                                        <div class="col-sm-10">
                                            <div class="input-group mb-3">
                                                <span class="input-group-text" id="basic-addon1"></span>
                                            <input type="text" class="form-control" name="nombreProducto" placeholder="Producto">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label"><font face="Century">Existencia</label></font>
                                        <div class="col-sm-10">
                                            <div class="input-group mb-3">
                                                <span class="input-group-text" id="basic-addon1"></span>
                                            <input type="text" class="form-control" name="existencia" placeholder="Existencias Productos">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label"><font face="Century">Descripcion</label></font>
                                        <div class="col-sm-10">
                                            <div class="input-group mb-3">
                                                <span class="input-group-text" id="basic-addon1"></span>
                                                <input type="text" class="form-control" name="descripcion" placeholder="Descripcion Producto">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label"><font face="Century">Distribuidor</label></font>
                                        <div class="col-sm-10">
                                            <div class="input-group mb-3">
                                                <span class="input-group-text" id="basic-addon1"></span>
                                            <input type="text" class="form-control" name="distribuidor" placeholder="Distribuidor del Producto">
                                            </div>
                                        </div>
                                    </div>


                                </div>
                                <div class="card-footer">
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-outline-primary"><i class="fas fa-solid fa-box"> <font face="Century">Agregar</button></i></font>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </div>




        <!--Pie de pagina-->
        {% include 'HOME/MODULOS/footer.html' %}

        <!--Side- bar control -->
        {% include 'HOME/MODULOS/side-bar-control.html' %}

        <!--Sripts-->
        {% include 'HOME/MODULOS/scripts.html' %}

    </div>



</body>

</html>