<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'LOGIN/MODULOS/header.html' %}
</head>
<body>
    <!--REGISTRO-->
    <div class="container-form sign-up">
        <!--Formulario-->
        <div class="welcome-back">
            <div class="message">
                <h1> ALMACEN AVIVA LOGISTICS </h1>
                <button class="sign-up-btn">Iniciar Sesion</i></button>
            </div>
        </div>
        <div class="formulario">
            <h2 class="create-account">Bienvenido Avi-Almacen</h2>
            <i class="fas fa-box"></i>
            <p class="texto">
                Un sistema algo bastante más complejo que un simple  espacio donde se guardan productos, 
                ya que termina por constituir un elemento básico de la infraestructura logística.
                Permite registrar, modificar, eliminar, buscar, mostrar datos de un control del stock 
                disponible, almacenaje y protección de productos, es decir, cumple una función básica de 
                almacenamiento de los productos en stock, mostrando notificaciones que mantienen 
                bajos niveles de stock.
            </p>
        </div>
    </div>

    <!--INCIO DE SESION-->
    <div class="container-form sign-in">
        <!--Formulario-->
        <form class="formulario" action="/iniciarsesion" method="post">
            <h2 class="create-account">Iniciar Sesion</i></h2>
            <p class="Registrate"></p>
            <div class="input-field">
                <i class="fas fa-envelope"></i>
                Correo
                <input type="email" name="email" placeholder="Correo">
            </div>
            <div class="input-field">
                <i class="fas fa-lock"></i>
                Contraseña
                <input type="password" name="contraseña" placeholder="Contraseña">
                <input type="submit" value="Iniciar Sesion">
            </div>
            <!--MENSAJE FLASH-->
            {% with messages = get_flashed_messages() %} {% if messages %} {% for
            message in messages %}
            <!--Top-Start. ARRIBA IZQUIERDA 
                Top .INICIO EN MEDIO. 
                Top-End. ESQUINA DERECHA-->
            <script>
                Swal.fire({
                    position: "top",
                    icon: "error",
                    title: "{{message}}",
                    showConfirmButton: false,
                    timer: 1500,
                });
            </script>
            {% endfor %} {% endif %} {% endwith %}
            <!---->
            {% with messages = get_flashed_messages() %} {% if messages %} {% for
                message in messages %}
                <!--Top-Start. ARRIBA IZQUIERDA 
                    Top .INICIO EN MEDIO. 
                    Top-End. ESQUINA DERECHA-->
                <script>
                    Swal.fire({
                        position: "top",
                        icon: "warning",
                        title: "{{message}}",
                        showConfirmButton: false,
                        timer: 1500,
                    });
                </script>
                {% endfor %} {% endif %} {% endwith %}
        </form>
        <div class="welcome-back">
            <div class="message">
                <h2>ALMACEN AVIVA LOGISTICS</h2>
                <button class="sign-in-btn">  Atras   
                <i class="fa fa-arrow-right"></i></button>
            </div>
        </div>
    </div>
{% include 'LOGIN/MODULOS/scripts.html' %}
</body>
</html>