<!DOCTYPE html>
<html lang="en">
{% include 'HOME/MODULOS/header.html' %}

<body class="hold-transition sidebar-mini">
    <div class="wrapper"> <!--Ajuste de tamaño-->
        <div class="preloader flex-column justify-content-center align-items-center"> <!--Telon-->
            <!--Animacion-->
            <img class="animation__wobble" src="{{ url_for('static', filename = 'dist/img/icons/LOGO.png')}}"
                alt="LOGO" height="80" width="80" />
        </div>
        <!--Navbar-->
        {% include 'HOME/MODULOS/nav-bar.html' %}
        <!-- /.navbar -->

        <!--Menu-->
        {% include 'HOME/MODULOS/menu.html' %}
        <!--CONTENIDO- Para que no se rompa el diseño-->
        <div class="content-wrapper">
            <section class="container mt-4">
                <div class="card">
                    <!--Agregar. FORMULARIO -->
                    <div class="card card-navy"><!---->
                        <div class="card-header">
                            <h5 class="card-title"><i class="fas fa-user-friends "><i class="fas fa-plus ">
                                        <font face="Century"><strong> Agregar Proveedor </strong>
                                    </i></i></font>
                            </h5>
                        </div>
                        <!-- /.card-header -->
                        <!-- FORMULARIO -->
                        <form action="/agregar-proveedores" method="post">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6"><!-- -->
                                        <!--NOMBRES-->
                                        <div class="form-group">
                                            <label>
                                                <font face="Century">Nombre
                                            </label></font>
                                            <div class="input-group mb-4"> <!---->
                                                <span class="input-group-text" id="basic-addon1">
                                                    <i class="fas fa-user-circle"></i></span>
                                                <input type="text" class="form-control" name="nombres"
                                                    placeholder="Nombres " class="fas fa-user-circle"
                                                    aria-label="Username" aria-describedby="basic-addon1" required>
                                            </div>
                                        </div>
                                        <!--APELLIDOS-->
                                        <div class="form-group">
                                            <label>
                                                <font face="Century">Apellidos
                                            </label></font>
                                            <div class="input-group mb-4">
                                                <span class="input-group-text" id="basic-addon1">
                                                    <i class="fas fa-stamp"></i></span>
                                                <input type="text" class="form-control" name="apellidos"
                                                    placeholder="Apellido Materno/Paterno" aria-label="Username"
                                                    aria-describedby="basic-addon1" required>
                                            </div>
                                        </div>
                                        <!--EDAD-->
                                        <div class="form-group">
                                            <label>
                                                <font face="Century">Edad
                                            </label></font>
                                            <div class="input-group mb-4">
                                                <span class="input-group-text" id="basic-addon1">
                                                    <i class="fas fa-history"></i></span>
                                                <input type="number" class="form-control" name="edad"
                                                    aria-label="Username" aria-describedby="basic-addon1" required>
                                            </div>
                                        </div>
                                        <!--CORREO-->
                                        <div class="form-group">
                                            <label>
                                                <font face="Century">Correo Electronico
                                            </label></font>
                                            <div class="input-group mb-4">
                                                <span class="input-group-text" id="basic-addon1">
                                                    <i class="fas fa-envelope"></i></span>
                                                <input type="email" class="form-control" name="correo"
                                                    placeholder="example@." aria-label="Username"
                                                    aria-describedby="basic-addon1" required>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- /.col derecha  TELEFONO-->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>
                                                <font face="Century">Telefono
                                            </label></font>
                                            <div class="input-group mb-4">
                                                <span class="input-group-text" id="basic-addon1">
                                                    <i class="fas fa-phone"></i></span>
                                                <input type="text" class="form-control" name="telefono"
                                                    placeholder="00-00-00-00" required>
                                            </div>
                                        </div>
                                        <!--DIRECCION-->
                                        <div class="form-group row">
                                            <label>
                                                <font face="Century">Direccion
                                            </label></font>
                                            <div class="input-group mb-4">
                                                <span class="input-group-text" id="basic-addon1">
                                                    <i class="fas fa-map-marker-alt"></i></span>
                                                <input type="text" class="form-control" name="direccion"
                                                    placeholder="Calle, Colonia, Numero" required>
                                            </div>
                                        </div>
                                        <!--EMPRESA-->
                                        <div class="form-group row">
                                            <label>
                                                <font face="Century">Empresa
                                            </label></font>
                                            <div class="input-group mb-4">
                                                <span class="input-group-text" id="basic-addon1">
                                                    <i class="fas fa-building"></i></span>
                                                <input type="text" class="form-control" name="empresa"
                                                    placeholder="Nombre empresa" required>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="text-center">
                                        <div class="icon">
                                            <button type="submit" class="btn btn-outline-primary">
                                                <i class="fa fa-solid fa-user-check"></i> Agregar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
            <div class="text-center">
                <a href="/provedores" class="nav-link text-warning">
                    <i class="far fa-clipboard"> Consultar Provedores</i></a>
            </div>
        </div>


        <!--Pie de pagina-->
        {% include 'HOME/MODULOS/footer.html' %}

        <!--Side- bar control -->
        {% include 'HOME/MODULOS/side-bar-control.html' %}

        <!--Sripts-->
        {% include 'HOME/MODULOS/scripts.html' %}
    </div>
</body>

</html>