<!DOCTYPE html>
<html lang="en">
{% include 'HOME/MODULOS/header.html' %}

<body class="hold-transition sidebar-mini">
    <div class="wrapper"> <!--Ajuste de tamaño-->
        <div class="preloader flex-column justify-content-center align-items-center"> <!--Telon-->
            <!--Animacion-->
            <img class="animation__wobble" src="{{ url_for('static', filename = 'dist/img/icons/logo.png')}}" alt="LOGO"
                height="80" width="80" />
        </div>
        <!--Navbar-->
        {% include 'HOME/MODULOS/nav-bar.html' %}
        <!-- /.navbar -->

        <!--Menu-->
        {% include 'HOME/MODULOS/menu.html' %}
        <!--CONTENIDO-->
        <div class="content-wrapper">
            <div class="container-fluid mt-4"> <!--fluid. Ocupe todo el espacio en la pantalla-->
                <!--CARD-->
                <div class="card card-outline">
                    <div class="card-header">
                        <h3 class="card-title"><i class="fa fa-bullhorn"> Notificaciones de stock minimo </i></h3>
                        <div class="col-md-9">
                            <div class="text-center">
                                <a class="btn btn-app">
                                    <span class="badge bg-warning">2</span>
                                    <i class="fas fa-bullhorn"></i> Notificaciones
                                </a>
                            </div>
                        </div><!--/col-->
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body p-0">
                        <div class="mailbox-controls">
                            <!-- Check all button -->
                            <button type="button" class="btn btn-default btn-sm checkbox-toggle"><i
                                    class="far fa-square"></i>
                            </button>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default btn-sm">
                                    <i class="far fa-trash-alt"></i> <!--btn Eliminar-->
                                </button>
                            </div><!-- /.btn-group -->
                            <button type="button" class="btn btn-default btn-sm">
                                <i class="fas fa-sync-alt"></i><!--btn Refresh-->
                            </button>
                        </div>
                        <div class="table-responsive mailbox-messages">
                            <table class="table table-borderless ">
                                <tbody class="table-hover">
                                    <tr>
                                        <td class="mailbox-name"> </td>
                                        <td class="mailbox-name"> </td>
                                        <td class="mailbox-name"><b>ID</td></b>
                                        <td class="mailbox-name"><b>Nombre Producto</td>
                                        <td class="mailbox-name"><b>Stock</td></b> 
                                        <td class="mailbox-date"><b>Fecha</td></b>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="icheck-primary">
                                                <input type="checkbox" value="" id="check2">
                                                <label for="check2"></label>
                                            </div>
                                        </td>
                                        <td class="mailbox-star"><a href="#"><i
                                                    class="fas fa-star-o text-warning"></i></a></td>
                                                    <td class="mailbox-name">0E44</td>
                                                    <td class="mailbox-name">Uniformes para temporada</td>
                                                    <td class="  text-danger  mailbox-name"><b>10</b></td>
                                                    <td class="mailbox-date">jueves 29 de jun. de 2023 a las 12:02</td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div class="icheck-primary">
                                                <input type="checkbox" value="" id="check2">
                                                <label for="check2"></label>
                                            </div>
                                        </td>
                                        <td class="mailbox-star"><a href="#"><i
                                                    class="fas fa-star-o text-warning"></i></a></td>
                                                    <td class="mailbox-name">264E</td>
                                                    <td class="mailbox-name">Hojas de papel blancas</td>
                                                    <td class="  text-danger  mailbox-name"><b>5</b></td>
                                                    <td class="mailbox-date">jueves 29 de jun. de 2023 a las 12:04	</td>
                                    </tr>


                                    <tr>
                                        <td>
                                            <div class="icheck-primary">
                                                <input type="checkbox" value="" id="check3">
                                                <label for="check3"></label>
                                            </div>
                                        </td>
                                        
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="icheck-primary">
                                                <input type="checkbox" value="" id="check4">
                                                <label for="check4"></label>
                                            </div>
                                        </td>
                                    
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="icheck-primary">
                                                <input type="checkbox" value="" id="check5">
                                                <label for="check5"></label>
                                            </div>
                                        </td>
                                    
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="icheck-primary">
                                                <input type="checkbox" value="" id="check6">
                                                <label for="check6"></label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="icheck-primary">
                                                <input type="checkbox" value="" id="check7">
                                                <label for="check7"></label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="icheck-primary">
                                                <input type="checkbox" value="" id="check8">
                                                <label for="check8"></label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="icheck-primary">
                                                <input type="checkbox" value="" id="check9">
                                                <label for="check9"></label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="icheck-primary">
                                                <input type="checkbox" value="" id="check10">
                                                <label for="check10"></label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="icheck-primary">
                                                <input type="checkbox" value="" id="check11">
                                                <label for="check11"></label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="icheck-primary">
                                                <input type="checkbox" value="" id="check12">
                                                <label for="check12"></label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="icheck-primary">
                                                <input type="checkbox" value="" id="check13">
                                                <label for="check13"></label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="icheck-primary">
                                                <input type="checkbox" value="" id="check14">
                                                <label for="check14"></label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="icheck-primary">
                                                <input type="checkbox" value="" id="check15">
                                                <label for="check15"></label>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- /.table -->
                        </div>
                        <!-- /.mail-box-messages -->
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer p-0">
                        <div class="mailbox-controls">
                            <!-- Check all button -->
                            <button type="button" class="btn btn-default btn-sm checkbox-toggle">
                                <i class="far fa-square"></i>
                            </button>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default btn-sm">
                                    <i class="far fa-trash-alt"></i>
                                </button>
                            </div>
                            <!-- /.btn-group -->
                            <button type="button" class="btn btn-default btn-sm">
                                <i class="fas fa-sync-alt"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <!-- /.card -->
            </div>
        </div>


        <!--Pie de pagina-->
        {% include 'HOME/MODULOS/footer.html' %}

        <!--Side - bar control-->
        {% include 'HOME/MODULOS/side-bar-control.html' %}

        <!--Sripts-->
        {% include 'HOME/MODULOS/scripts.html' %}

        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <!--FUNCION TABLA-->
        <script>
            $(function () {
                //Enable check and uncheck all functionality
                $('.checkbox-toggle').click(function () {
                    var clicks = $(this).data('clicks')
                    if (clicks) {
                        //Uncheck all checkboxes
                        $('.mailbox-messages input[type=\'checkbox\']').prop('checked', false)
                        $('.checkbox-toggle .far.fa-check-square').removeClass('fa-check-square').addClass('fa-square')
                    } else {
                        //Check all checkboxes
                        $('.mailbox-messages input[type=\'checkbox\']').prop('checked', true)
                        $('.checkbox-toggle .far.fa-square').removeClass('fa-square').addClass('fa-check-square')
                    }
                    $(this).data('clicks', !clicks)
                })

                //Handle starring for font awesome
                $('.mailbox-star').click(function (e) {
                    e.preventDefault()
                    //detect type
                    var $this = $(this).find('a > i')
                    var fa = $this.hasClass('fa')

                    //Switch states
                    if (fa) {
                        $this.toggleClass('fa-star')
                        $this.toggleClass('fa-star-o')
                    }
                })
            })
        </script>
    </div><!--wapperAjuste-->
</body>

</html>