<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href='/home' class="brand-link">

    <img src="{{ url_for('static', filename = 'dist/img/pestaña/A-LOGO.png')}}" alt="Logo"
      class="brand-image img-circle elevation-3" style="opacity: .8">
    <span class="brand-text font-weight-light">AVI ALMACEN</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user (optional) -->


    <!-- SidebarSearch Form -->


    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
              with font-awesome or any other icon font library -->

        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-user fa-solid"></i> <!--Icono que se muestra dentro del nav-bar-->
            <p>
              CONTACTOS
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/proveedores" class="nav-link"> <!---->
                <i class="fas fa-solid fa-user-friends nav-icon"></i>
                <p>Proveedores</p> <!--CONSULTA DE PROVEDORES. Todas las acciones en uno solo.-->
              </a>
            </li>
            <li class="nav-item">
              <a href="/clientes" class="nav-link"><!---->
                <i class="fas fa-solid fa-users nav-icon"></i>
                <p>Clientes</p> <!--CONSULTA DE CLIENTES-->
              </a>
            </li>
          </ul>
        </li>

        <!-- ENTRADAS-->
        <li class="nav-header">ENTRADAS</li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-sign-in-alt fa-solid"></i><!--Icono que se muestra dentro del nav-bar-->
            <p>
              Administrar
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/entradas" class="nav-link"><!---->
                <i class="fas fa-solid fa-database nav-icon"></i>
                <p>Consultar Entradas</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/operaciones-entradas" class="nav-link"><!---->
                <i class="fas fa-solid fa-tools nav-icon"></i>
                <p>Operaciones</p>
              </a>
            </li>
          </ul>
        </li>

        <!-- SALIDAS-->
        <li class="nav-header">SALIDAS</li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-sign-out-alt "></i><!--Icono que se muestra dentro del nav-bar-->
            <p>
              Administrar
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="salidas" class="nav-link"><!---->
                <i class="fas fa-solid fa-database nav-icon"></i>
                <p>Consultar Salidas</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/operaciones-salidas" class="nav-link"><!---->
                <i class="fas fa-solid fa-tools fa-tools nav-icon"></i>
                <p>Operaciones</p>
              </a>
            </li>
          </ul>
        </li>


        <!--CATEGORIAS PRODUCTOS-->
        <li class="nav-header">CATEGORIAS</li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-boxes fa-solid"></i>
            <p>
              Administrar
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">


            <li class="nav-item">
              <a href="/categorias" class="nav-link">
                <i class="fas fa-solid fa-database nav-icon"></i> <!--Aqui se consulta y se agrega en una sola-->
                <p>Consultar Categorias</p>
              </a>
            </li>
          </ul>
        </li>


        <!--ESTANTE-ANAQUEL-->
        <li class="nav-header">ESTANTE/ANAQUEL</li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="fas fa-people-carry"></i> <!--Icono que se muestra dentro del nav-bar-->
            <p>
              Administrar
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/anaqueles" class="nav-link"><!---->
                <i class="fas fa-solid fa-database"></i>
                <p> Consultar Anaqueles</p>
              </a>
            </li>
          </ul>
        </li>


        <!--SELLER / DISTRIBUIDOR-->
        <li class="nav-header">SELLER</li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="fas fa-truck-loading"></i> <!--Icono que se muestra dentro del nav-bar-->
            <p>
              Administrar
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/distribuidor" class="nav-link"><!---->
                <i class="fas fa-solid fa-database"></i>
                <p> Consultar Seller</p>
              </a>
            </li>
          </ul>
        </li>


        <!--TRANSPORTISTA-->
        <li class="nav-header">TRASNPORTISTAS</li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="fas fa-shipping-fast"></i> <!--Icono que se muestra dentro del nav-bar-->
            <p>
              Administrar
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/transportista" class="nav-link"><!---->
                <i class="fas fa-solid fa-database"></i>
                <p> Consultar Transportistas</p>
              </a>
            </li>
          </ul>
        </li>




        <!-- REPORTES-->
        <li class="nav-header">REPORTES</li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-file-alt fa-solid"></i> <!--Icono que se muestra dentro del nav-bar-->
            <p>
              Reportes
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/" class="nav-link"> <!--ENTRADAS-->
                <i class="fas fa-solid fa-sign-in-alt  nav-icon"></i>
                <p>Reporte de Entradas</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/" class="nav-link"><!--SALIDAS-->
                <i class="fas fa-solid fa-sign-out-alt nav-icon"></i>
                <p>Reporte de Salidas</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/reporte-proveedor" class="nav-link"><!---->
                <i class="fas fa-solid fa-user-friends nav-icon"></i>
                <p>Reporte de Proveedores</p> <!--PROVEEDORES-->
              </a>
            </li>
            <li class="nav-item">
              <a href="/reporte-cliente" class="nav-link"><!---->
                <i class="fas fa-solid fa-users nav-icon"></i>
                <p>Reporte de Clientes</p> <!--CLIENTES-->
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>