<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href='/home' class="brand-link">

    <img src="{{ url_for('static', filename = 'dist/img/pestaña/A-LOGO.png')}}" alt="Logo"
      class="brand-image img-circle elevation-3" style="opacity: .8">
    <span class="brand-text font-weight-light">AVI ALMACEN</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user (optional) -->


    <!-- SidebarSearch Form -->


    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
        
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-user fa-solid"></i> <!--Icono que se muestra dentro del nav-bar-->
            <p>
              CONTACTOS
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/provedores" class="nav-link"> <!---->
                <i class="fas fa-solid fa-id-card-alt nav-icon"></i>
                <p>Provedores</p> <!--CONSULTA DE PROVEDORES. Todas las acciones en uno solo.-->
              </a>
            </li>
            <li class="nav-item">
              <a href="/clientes" class="nav-link"><!---->
                <i class="fas fa-solid fa-users nav-icon"></i>
                <p>Clientes</p> <!--CONSULTA DE CLIENTES-->
              </a>
            </li>

          </ul>
        </li>
        <!-- PRODUCTOS-->
        <li class="nav-header">PRODUCTOS</li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-box fa-solid"></i><!--Icono que se muestra dentro del nav-bar-->
            <p>
              Administrar
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/ingresar-productos" class="nav-link"><!---->
                <i class="fas fa-solid fa-file fa-circle fa-plus nav-icon"></i>
                <p>Agregar</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/productos" class="nav-link"><!---->
                <i class="fas fa-duotone fa-thin fa-database fa-fade nav-icon"></i>
                <p>Consulta de Productos</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/productos-operaciones" class="nav-link"><!--operaciones-productos-->
                <i class="fas fa-solid fa-screwdriver fa-wrench nav-icon"></i>
                <p>Operaciones</p>
              </a>
            </li>
          </ul>
        </li>
        <!--CATEGORIAS PRODUCTOS-->
        <li class="nav-header">CATEGORIAS</li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-boxes fa-solid"></i>
            <p>
              Administrar
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">


            <li class="nav-item">
              <a href="/categorias" class="nav-link">
                <i class="fas fa-solid fa-database nav-icon"></i> <!--Aqui se consulta y se agrega en una sola-->
                <p>Consulta de Categorias</p>
              </a>
            </li>
          </ul>
        </li>

        <!-- ENTRADAS-->
        <li class="nav-header">ENTRADAS</li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-sign-in-alt fa-solid"></i><!--Icono que se muestra dentro del nav-bar-->
            <p>
              Administrar
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="" class="nav-link"><!---->
                <i class="fas fa-solid fa-database nav-icon"></i>
                <p>Consultar Entradas</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link"><!---->
                <i class="fas fa-solid fa-screwdriver fa-wrench nav-icon"></i>
                <p>Operaciones</p>
              </a>
            </li>
          </ul>
        </li>

        <!-- SALIDAS-->
        <li class="nav-header">SALIDAS</li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-sign-out-alt "></i><!--Icono que se muestra dentro del nav-bar-->
            <p>
              Administrar
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="" class="nav-link"><!---->
                <i class="fas fa-solid fa-database nav-icon"></i>
                <p>Consultar Salidas</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link"><!---->
                <i class="fas fa-solid fa-screwdriver fa-wrench nav-icon"></i>
                <p>Operaciones</p>
              </a>
            </li>
          </ul>
        </li>

          <!-- REPORTES-->
          <li class="nav-header">REPORTES</li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-file-alt fa-solid"></i> <!--Icono que se muestra dentro del nav-bar-->
              <p>
                Reportes
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/provedores" class="nav-link"> <!---->
                  <i class="fas fa-solid fa-sort-amount-up  nav-icon"></i>
                  <p>Reporte de Entradas</p> <!--CONSULTA DE PROVEDORES. Todas las acciones en uno solo.-->
                </a>
              </li>
              <li class="nav-item">
                <a href="/clientes" class="nav-link"><!---->
                  <i class="fas fa-solid fa-sort-amount-down nav-icon"></i>
                  <p>Reporte de Salidas</p> <!--CONSULTA DE CLIENTES-->
                </a>
              </li>
              <li class="nav-item">
                <a href="/clientes" class="nav-link"><!---->
                  <i class="fas fa-solid fa-box-open nav-icon"></i>
                  <p>Reporte de Productos</p> <!--CONSULTA DE CLIENTES-->
                </a>
              </li>
              <li class="nav-item">
                <a href="/clientes" class="nav-link"><!---->
                  <i class="fas fa-solid fa-users nav-icon"></i>
                  <p>Reporte de Proveedores</p> <!--CONSULTA DE CLIENTES-->
                </a>
              </li>
            </ul>
          </li>









      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>