<!DOCTYPE html>
<html lang="en">
{% include 'HOME/MODULOS/header.html' %}

<body class="hold-transition sidebar-mini">
    <div class="wrapper"> <!--Ajuste de tamaño-->
        <div class="preloader flex-column justify-content-center align-items-center"> <!--Telon-->
            <!--Animacion-->
            <img class="animation__wobble" src="{{ url_for('static', filename = 'dist/img/icons/LOGO.png')}}" alt="LOGO"
                height="80" width="80" />
        </div>
        <!--Navbar-->
        {% include 'HOME/MODULOS/nav-bar.html' %}
        <!-- /.navbar -->

        <!--Menu-->
        {% include 'HOME/MODULOS/menu.html' %}

        <!-- CONTENIDO. 
        VISTA DONDE SE VIZUALIZA LOS DATOS -->
        <div class="content-wrapper">
            <div class="container-fluid mt-4">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h1 class="card-title"><i class="fas fa-solid fa-sign-in-alt nav-icon"> Actualizar
                                        Entradas</h1></i>
                            </div>
                            <!-- Profile Image -->
                            <div class="card-body box-profile">
                                <div class="text-center">
                                    <h3 class="profile-username text-center"><i class="fas fa-solid fa-box nav-icon">
                                            <i class="fas fa-solid fa-sign-in-alt"></i></i></h3>
                                    <small>
                                        <span class="text-muted">
                                            Nombre del Producto que Entro :
                                        </span>
                                    </small>
                                    <h3> {{entradasRecibidas.nombreProducto}} </h3>
                                </div>
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-4 text-center">
                                                <div class="form-group">
                                                    <small>
                                                        Nombre Producto:
                                                        <!--Boton que activara el modal para modificar datos-->
                                                        <button type="button" data-toggle="modal"
                                                            data-target="#producto" class="btn btn-xs btn-OpenEdit">
                                                            <i class="fa-solid fas fa-edit"></i>Editar
                                                        </button>
                                                    </small>
                                                    <!--Variable-->
                                                    <p id="vtitle">{{entradasRecibidas.nombreProducto}}
                                                        <span class="text-muted"></span>
                                                    </p>
                                                </div>
                                            </div>


                                            <div class="col-md-4 text-center">
                                                <div class="form-group">
                                                    <small>
                                                        Tipo de Producto:
                                                        <button type="button" data-toggle="modal"
                                                            data-target="#tipoProducto" class="btn btn-xs btn-OpenEdit">
                                                            <i class="fa-solid fas fa-edit"></i>Editar
                                                        </button>
                                                    </small>
                                                    <p id="vtitle">{{entradasRecibidas.tipoProducto}}</p>

                                                    <span class="text-muted"></span>
                                                </div>
                                            </div>


                                            <div class="col-md-4 text-center">
                                                <div class="form-group">
                                                    <small>
                                                        Descripcion:
                                                        <button type="button" data-toggle="modal"
                                                            data-target="#descripcion" class="btn btn-xs btn-OpenEdit">
                                                            <i class="fa-solid fas fa-edit"></i>Editar
                                                        </button>
                                                    </small>
                                                    <p id="vtitle">{{entradasRecibidas.descripcion}}</p>

                                                    <span class="text-muted"></span>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="row">
                                            <div class="col-md-4 text-center">
                                                <div class="form-group">
                                                    <small>
                                                        Cantidad:
                                                        <button type="button" data-toggle="modal"
                                                            data-target="#cantidad" class="btn btn-xs btn-OpenEdit">
                                                            <i class="fa-solid fas fa-edit"></i>Editar
                                                        </button>
                                                    </small>
                                                    <p id="vtitle">{{entradasRecibidas.cantidad}}</p>
                                                    <span class="text-muted"></span>
                                                </div>
                                            </div>


                                            <div class="col-md-4 text-center">
                                                <div class="form-group">
                                                    <small>
                                                        Categoria:
                                                        <button type="button" data-toggle="modal"
                                                            data-target="#categoria" class="btn btn-xs btn-OpenEdit">
                                                            <i class="fa-solid fas fa-edit"></i>Editar
                                                        </button>
                                                    </small>
                                                    <p id="vtitle">{{entradasRecibidas.categoria}}</p>
                                                    <span class="text-muted"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4 text-center">
                                                <div class="form-group ">
                                                    <small>
                                                        Anaquel/Estante:
                                                        <button type="button" data-toggle="modal" data-target="#anaquel"
                                                            class="btn btn-xs btn-OpenEdit">
                                                            <i class="fa-solid fas fa-edit"></i>Editar
                                                        </button>
                                                    </small>
                                                    <p id="vtitle">{{entradasRecibidas.anaquel}}</p>
                                                    <span class="text-muted"></span>
                                                </div>
                                            </div>
                                        </div><!--</Row-->

                                        <div class="row">
                                            <div class="col-md-4 text-center">
                                                <div class="form-group ">
                                                    <small>
                                                        Distribuidor:
                                                        <button type="button" data-toggle="modal"
                                                            data-target="#distribuidor" class="btn btn-xs btn-OpenEdit">
                                                            <i class="fa-solid fas fa-edit"></i>Editar
                                                        </button>
                                                    </small>
                                                    <p id="vtitle">{{entradasRecibidas.distribuidor}}</p>
                                                    <span class="text-muted"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4 text-center">
                                                <div class="form-group ">
                                                    <small>
                                                        Validacion:
                                                        <button type="button" data-toggle="modal"
                                                            data-target="#validacion" class="btn btn-xs btn-OpenEdit">
                                                            <i class="fa-solid fas fa-edit"></i>Editar
                                                        </button>
                                                    </small>
                                                    <p id="vtitle">{{entradasRecibidas.validacion}}</p>
                                                    <span class="text-muted"></span>
                                                </div>
                                            </div>
                                            <br>

                                            <div class="col-md-4 text-center">
                                                <div class="form-group ">
                                                    <small>
                                                        Observaciones:
                                                        <button type="button" data-toggle="modal"
                                                            data-target="#observaciones"
                                                            class="btn btn-xs btn-OpenEdit">
                                                            <i class="fa-solid fas fa-edit"></i>Editar
                                                        </button>
                                                    </small>
                                                    <p id="vtitle">{{entradasRecibidas.observaciones}}</p>
                                                    <span class="text-muted"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- /.MODAL NOMNBRE PRODUCTO -->
            <div class="modal fade" id="producto">
                <div class="modal-dialog">
                    <!--Se manda la funcion de app ruta, key del id de la busqueda  y en campo el  que se va actualizar. Junto con el metodo-->
                    <form action="{{url_for('actualizarInfoEntrada', key=entradasRecibidas.identificador, campo='nombreProducto')}}" method="POST">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Editar Nombre del Producto</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <input class="form-control rounded-pill"
                                    placeholder="{{entradasRecibidas.nombreProducto}}" type="text" name="dato">
                            </div>
                            <div class="modal-footer justify-content-between">
                                <button type="button" class="btn btn-outline-danger" data-dismiss="modal"><i
                                        class="fa-solid fas fa-user-minus"></i>Cerrar</button>
                                <button type="submit" class="btn btn-outline-success"><i
                                        class="fa-solid fas fa-user-check"></i>Guardar</button>
                            </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- /.MODAL TIPO PRODCUTO -->
        <div class="modal fade" id="tipoProducto">
            <div class="modal-dialog">
                <form action="{{url_for('actualizarInfoEntrada', key=entradasRecibidas.identificador, campo='tipoProducto')}}" method="post">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Editar Tipo de Producto</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <label>Tipo de Producto:</label>
                            <select class="form-control" name="dato" >
                                <option selected>Selecciona el Tipo de Producto</option>
                                <option>INTERNO</option>
                                <option>EXTERNO</option>
                            </select>
                        </div>
                        <div class="modal-footer justify-content-between">
                            <button type="button" class="btn btn-outline-danger" data-dismiss="modal"><i
                                    class="fa-solid fas fa-user-minus"></i>Cerrar</button>
                            <button type="submit" class="btn btn-outline-success"><i
                                    class="fa-solid fas fa-user-check"></i>Guardar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>


        <!-- /.MODAL DESCRIPCION -->
        <div class="modal fade" id="descripcion">
            <div class="modal-dialog">
                <form action="{{url_for('actualizarInfoEntrada', key=entradasRecibidas.identificador, campo='descripcion')}}" method="post">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Editar Descripcion</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <textarea class="form-control" rows="3" placeholder="{{entradasRecibidas.descripcion}}"
                                name="dato"></textarea>
                        </div>
                        <div class="modal-footer justify-content-between">
                            <button type="button" class="btn btn-outline-danger" data-dismiss="modal"><i
                                    class="fa-solid fas fa-user-minus"></i>Cerrar</button>
                            <button type="submit" class="btn btn-outline-success"><i
                                    class="fa-solid fas fa-user-check"></i>Guardar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!-- /.MODAL CANTIDAD -->
        <div class="modal fade" id="cantidad">
            <div class="modal-dialog">
                <form action="{{url_for('actualizarInfoEntrada', key=entradasRecibidas.identificador, campo='cantidad')}}" method="post">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Editar Cantidad</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <input class="form-control rounded-pill" placeholder="{{entradasRecibidas.cantidad}}"
                                type="number" name="dato">
                        </div>
                        <div class="modal-footer justify-content-between">
                            <button type="button" class="btn btn-outline-danger" data-dismiss="modal"><i
                                    class="fa-solid fas fa-user-minus"></i>Cerrar</button>
                            <button type="submit" class="btn btn-outline-success"><i
                                    class="fa-solid fas fa-user-check"></i>Guardar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>


        <!-- /.MODAL CATEGORIA -->
        <div class="modal fade" id="categoria">
            <div class="modal-dialog">
                <form action="{{url_for('actualizarInfoEntrada', key=entradasRecibidas.identificador, campo='categoria')}}" method="post">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Editar categoria</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <label>Seleccione la categoria:</label>
                            <select class="form-control" name="dato">
                                <!-- for CATEGORIA se itera para que aparezcan en productos-->
                                {% for dato in CategoriasRecibidas %}
                                <option class="form-control rounded-pill" value="{{dato.nombreCategoria}}">
                                    {{dato.nombreCategoria}}</option>
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="modal-footer justify-content-between">
                            <button type="button" class="btn btn-outline-danger" data-dismiss="modal"><i
                                    class="fa-solid fas fa-user-minus"></i>Cerrar</button>
                            <button type="submit" class="btn btn-outline-success"><i
                                    class="fa-solid fas fa-user-check"></i>Guardar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>


        <!-- /.MODAL ANAQUEL -->
        <div class="modal fade" id="anaquel">
            <div class="modal-dialog">
                <form action="{{url_for('actualizarInfoEntrada', key=entradasRecibidas.identificador, campo='anaquel')}}" method="post">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Editar Estante/Anaquel</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <label>Seleccione el anaquel/estante:</label>
                            <select class="form-control" name="dato">
                                <!-- for ESTANTE se itera para que aparezcan en productos-->
                                {% for dato in estanteRecibidos %} <!-- -->
                                <option class="form-control rounded-pill" value="{{dato.nombreAnaquel}}">
                                    {{dato.nombreAnaquel}}</option>
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="modal-footer justify-content-between">
                            <button type="button" class="btn btn-outline-danger" data-dismiss="modal"><i
                                    class="fa-solid fas fa-user-minus"></i>Cerrar</button>
                            <button type="submit" class="btn btn-outline-success"><i
                                    class="fa-solid fas fa-user-check"></i>Guardar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!-- /.MODAL DISTRIBUIDOR -->
        <div class="modal fade" id="distribuidor">
            <div class="modal-dialog">
                <form action="{{url_for('actualizarInfoEntrada', key=entradasRecibidas.identificador, campo='distribuidor')}}" method="post">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Editar Distribuidor</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <label>Seleccione el ditribuidor:</label>
                            <select class="form-control" name="dato">
                                <!-- for DISTRIBUIDOR se itera para que aparezcan en ENTRADAS-->
                                {% for dato in distribuidorRecibido %} <!-- -->
                                <option class="form-control rounded-pill" value="{{dato.nombre}}">
                                    {{dato.nombre}}</option>
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="modal-footer justify-content-between">
                            <button type="button" class="btn btn-outline-danger" data-dismiss="modal"><i
                                    class="fa-solid fas fa-user-minus"></i>Cerrar</button>
                            <button type="submit" class="btn btn-outline-success"><i
                                    class="fa-solid fas fa-user-check"></i>Guardar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>


        <!-- /.MODAL Validacion -->
        <div class="modal fade" id="validacion">
            <div class="modal-dialog">
                <form action="{{url_for('actualizarInfoEntrada', key=entradasRecibidas.identificador, campo='validacion')}}" method="post">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Editar validacion del prodcuto</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <label>Validacion</label>
                            <div class="form-group clearfix">
                                <div class="icheck-success d-inline">
                                    <input type="checkbox" checked id="checkboxDanger2" name="dato" value="PRODUCTO CORRECTO">
                                    <label for="checkboxDanger2">
                                        PRODUCTO CORRECTO
                                    </label>
                                </div>
                            </div>
                            <script>
                                var inputs = document.getElementsByTagName('input');
                                //Se va iterar i. 
                                for (var i = 0; i < inputs.length; i++) {
                                    if (inputs[i].type == 'checkbox') {
                                        inputs[i].checked = false;
                                    }
                                }
                            </script>
                            <!-- -->
                            <div class="form-group clearfix">
                                <div class="icheck-danger d-inline">
                                    <input type="checkbox" checked id="checkboxDanger1" name="dato" value="PRODUCTO INCORRECTO">
                                    <label for="checkboxDanger1">
                                        PRODUCTO INCORRECTO
                                    </label>
                                </div>
                            </div>
                            <script>
                                var inputs = document.getElementsByTagName('input');
                                //Se va iterar i. 
                                for (var i = 0; i < inputs.length; i++) {
                                    if (inputs[i].type == 'checkbox') {
                                        inputs[i].checked = false;
                                    }
                                }
                            </script>
                        </div>
                        <div class="modal-footer justify-content-between">
                            <button type="button" class="btn btn-outline-danger" data-dismiss="modal"><i
                                    class="fa-solid fas fa-user-minus"></i>Cerrar</button>
                            <button type="submit" class="btn btn-outline-success"><i
                                    class="fa-solid fas fa-user-check"></i>Guardar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        
        <!-- /.MODAL OBSERVACIONES -->
        <div class="modal fade" id="observaciones">
            <div class="modal-dialog">
                <form action="{{url_for('actualizarInfoEntrada', key=entradasRecibidas.identificador, campo='observaciones')}}" method="post">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Editar Observaciones</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <textarea class="form-control" rows="3" placeholder="{{entradasRecibidas.observaciones}}"
                                name="dato"></textarea>
                        </div>
                        <div class="modal-footer justify-content-between">
                            <button type="button" class="btn btn-outline-danger" data-dismiss="modal"><i
                                    class="fa-solid fas fa-user-minus"></i>Cerrar</button>
                            <button type="submit" class="btn btn-outline-success"><i
                                    class="fa-solid fas fa-user-check"></i>Guardar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="text-center">
            <a href="/operaciones-entradas" class="nav-link text-warning">
                <i class="far fa-clipboard"> Consultar Entradas</i></a>
        </div>
    </div>

    <!--Pie de pagina-->
    {% include 'HOME/MODULOS/footer.html' %}
    <!--Side - bar control-->
    {% include 'HOME/MODULOS/side-bar-control.html' %}
    <!--Sripts-->
    {% include 'HOME/MODULOS/scripts.html' %}

</body>

</html>