<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'HOME/MODULOS/header.html' %}
</head>

<body class="hold-transition sidebar-mini">
    <div class="wrapper"> <!--Ajuste de tamaño-->
        <div class="preloader flex-column justify-content-center align-items-center"> <!--Telon-->
            <!--Animacion-->
            <img class="animation__wobble" src="{{ url_for('static', filename = 'dist/img/icons/LOGO.png')}}"
                alt="LOGO" height="80" width="80" />
        </div>
        <!--Navbar-->
        {% include 'HOME/MODULOS/nav-bar.html' %}
        <!-- /.navbar -->
        <!--Menu-->
        {% include 'HOME/MODULOS/menu.html' %}
        <div class="content-wrapper">
            <div class="container-fluid mt-4">
                <section class="content">
                    <!-- Default box -->
                    <div class="card card-solid">
                        <div class="card-body pb-0">
                            <div class="row">
                                <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
                                    <div class="card bg-light d-flex flex-fill">
                                        <div class="card-header text-muted border-bottom-0">
                                            <i class="fas fa-user-cog"> <small> Informacion Perfil  </i></small>
                                        </div>
                                        <div class="card-body pt-0">
                                            <div class="row">
                                                <div class="col-7">
                                                    <h3 class="profile-username text-center">{{perfilRecibido.name}}
                                                    </h3>
                                                    <br>
                                                    <br>
                                                    <ul class="ml-4 mb-0 fa-ul text-muted">
                                                        <li class="small"><span class="fa-li"><i
                                                                    class="fas fa-envelope"></i></span>
                                                            <p id="vtitle"> Correo: {{perfilRecibido.email}}</p>
                                                            <span class="text-muted"></span>
                                                        </li>
                                                        <li class="small"><span class="fa-li"><i
                                                                    class="fas fa-user-lock"></i></span>
                                                            <p id="vtitle"> Contraseña:
                                                                ************</p>
                                                            <span class="text-muted"></span>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-5 text-center">
                                                    <img class="profile-user-img img-fluid img-circle"
                                                        src="{{url_for('static', filename='dist/img/imagenes-menu/perfil.jpg')}}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-footer">
                                            <div class="text-right">
                                                <i class="fas fa-server"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--FORMULARIO PARA EDITAR-->
                                <div class="card-body">
                                    <hr>
                                    <div class="row justify-content-center">
                                        <div class="col-align-self-center">
                                            <div class="card-header text-muted border-bottom-0">
                                                <font face="Century">Datos Generales </font>
                                            </div>
                                            <div class="form-group">
                                                <lable>
                                                    <font face="Century">Nombre: </font>
                                                </lable>
                                                <!--Boton que activara el modal para modificar datos-->
                                                <small>
                                                    <button type="button" data-toggle="modal" data-target="#nombre"
                                                        class="btn btn-xs btn-OpenEdit">
                                                        <i class="fa-solid fas fa-user-edit"></i>Editar
                                                    </button>
                                                </small>

                                                <p id="vtitle">{{perfilRecibido.name}}
                                                    <span class="text-muted"></span>
                                                </p>
                                            </div>
                                            <!---->
                                            <div class="form-group">
                                                <lable>
                                                    <font face="Century">Correo: </font>
                                                </lable>
                                                <small>
                                                    <button type="button" data-toggle="modal" data-target="#email"
                                                        class="btn btn-xs btn-OpenEdit">
                                                        <i class="fa-solid fas fa-user-edit"></i>Editar
                                                    </button>
                                                </small>
                                                <p id="vtitle">{{perfilRecibido.email}}</p>
                                                <span class="text-muted"></span>
                                            </div>
                                            <!---->
                                            <div class="form-group">
                                                <lable>
                                                    <font face="Century">Contraseña: </font>
                                                </lable>
                                                <small>
                                                    <button type="button" data-toggle="modal" data-target="#contraseña"
                                                        class="btn btn-xs btn-OpenEdit">
                                                        <i class="fa-solid fas fa-user-edit"></i>Editar
                                                    </button>
                                                </small>
                                                <p id="vtitle">*******************</p>
                                                <span class="text-muted"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </section>
            </div>


            <!--MODAL NOMBRE-->
            <div class="modal fade" id="nombre">
                <div class="modal-dialog modal-md">
                    <form class="modal-content"
                        action="{{url_for('ActualizarPerfilAdministrador', key=perfilRecibido.identificador, campo='name')}}"
                        method="post">
                        <div class="modal-header">
                            <h4 class="modal-title">Modificar Nombre</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Cancelar">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <input type="text" class="form-control rounded-pill" name="dato"
                                placeholder="{{perfilRecibido.name}}">
                        </div>
                        <div class="modal-footer justify-content-between">
                            <button type="button" class="btn btn-outline-danger" data-dismiss="modal"><i
                                    class="fa-solid fas fa-user-minus"></i>Cerrar</button>
                            <button type="submit" class="btn btn-outline-success"><i
                                    class="fa-solid fas fa-user-check"></i>Guardar</button>
                        </div>
                    </form>
                    <!-- /.modal-content -->
                </div>
            </div>

            <!--MODAL CORREO-->
            <div class="modal fade" id="email">
                <div class="modal-dialog modal-md">
                    <form class="modal-content"
                        action="{{url_for('ActualizarPerfilCorreo', key=perfilRecibido.identificador, campo='email')}}"
                        method="post">
                        <div class="modal-header">
                            <h4 class="modal-title">Modificar Correo</h4>
                                <!--Boton Warning-->
                                <small>
                                    <button type="button" class="btn btn-outline-warning btn-xs  swalDefaultWarning">
                                        <i class="fas fa-exclamation-triangle">
                                    </button></i>
                                </small>
                        
                        </div>
                        <div class="text-center">
                            <small>
                                <span class="text-muted">Al modificar el correo, se cierra sesion.</span>
                            </small>
                        </div>
                        <div class="modal-body">
                            <input type="text" class="form-control rounded-pill" name="dato"
                                placeholder="{{perfilRecibido.email}}">
                        </div>
                        <div class="modal-footer justify-content-between">
                            <button type="button" class="btn btn-outline-danger" data-dismiss="modal"><i
                                    class="fa-solid fas fa-user-minus"></i>Cerrar</button>
                            <button type="submit" class="btn btn-outline-success"><i
                                    class="fa-solid fas fa-user-check"></i>Guardar</button>
                        </div>
                    </form>
                    <!-- /.modal-content -->
                </div>
            </div>

         
            <!--MODAL CONTRASEÑA-->
            <div class="modal fade" id="contraseña">
                <div class="modal-dialog modal-md">
                    <form class="modal-content"
                        action="{{url_for('ActualizarPerfilContraseña', key=perfilRecibido.identificador, campo='contraseña')}}"
                        method="post">
                        <div class="modal-header">
                            <h4 class="modal-title">Modificar Contraseña</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Cancelar">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <label>Cambiar contraseña </label>
                            <input type="password" class="form-control rounded-pill" name="dato"
                                placeholder="Contraseña">
                        </div>
                        <div class="modal-footer justify-content-between">
                            <button type="button" class="btn btn-outline-danger" data-dismiss="modal"><i
                                    class="fa-solid fas fa-user-minus"></i>Cerrar</button>
                            <button type="submit" class="btn btn-outline-success"><i
                                    class="fa-solid fas fa-user-check"></i>Guardar</button>
                        </div>
                    </form>
                    <!-- /.modal-content -->
                </div>
            </div>

        </div>
        
        {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
        <script>
            Swal.fire({
                position: "top",
                icon: "info",
                title: "{{message}}",
                showConfirmButton: false,
                timer: 1500,
            });
        </script>
        {% endfor %} {% endif %} {% endwith %}


        <!--Pie de pagina-->
        {% include 'HOME/MODULOS/footer.html' %}
        <!--Side - bar control-->
        {% include 'HOME/MODULOS/side-bar-control.html' %}
        <!--Sripts-->
        {% include 'HOME/MODULOS/scripts.html' %}
    </div>

    <!-- Funcion del btn warning-->
    <script>
        $(function () {
            var Toast = Swal.mixin({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 5000
            });

            $('.swalDefaultWarning').click(function () {
                Toast.fire({
                    icon: 'warning',
                    title: 'Al modificar el correo se cierra sesion. '
                })
            });
        });
    </script>
</body>
</html>