<!DOCTYPE html>
<html lang="en">
{% include 'HOME/MODULOS/header.html' %}

<body class="hold-transition sidebar-mini">
    <div class="wrapper"> <!--Ajuste de tamaño-->
        <div class="preloader flex-column justify-content-center align-items-center"> <!--Telon-->
            <!--Animacion-->
            <img class="animation__wobble" src="{{ url_for('static', filename = 'dist/img/icons/LOGO.png')}}" alt="LOGO"
                height="80" width="80" />
        </div>
        <!--Navbar-->
        {% include 'HOME/MODULOS/nav-bar.html' %}
        <!-- /.navbar -->

        <!--Menu-->
        {% include 'HOME/MODULOS/menu.html' %}
        <!-- *MENSAJE FLASHH ¡SALIDA ACTUALIZADA! *-->
        {% with messages = get_flashed_messages() %} {% if messages %} {% for
        message in messages %}
        <!--Top-Start. ARRIBA IZQUIERDA 
        Top .INICIO EN MEDIO. 
        Top-End. ESQUINA DERECHA-->
        <script>
            Swal.fire({
                position: "top",
                icon: "success",
                title: "{{message}}",
                showConfirmButton: false,
                timer: 2500,
            });
        </script>
        {% endfor %} {% endif %} {% endwith %}



        <!-- CONTENIDO. 
        VISTA DONDE SE VIZUALIZA LOS DATOS -->
        <div class="content-wrapper">
            <div class="container-fluid mt-4">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h1 class="card-title"><i class="fas fa-solid fa-sign-out-alt nav-icon"> Actualizar
                                        Salidas</h1></i>
                            </div>
                            <!-- Profile Image -->
                            <div class="card-body box-profile">
                                <div class="text-center">
                                    <h3 class="profile-username text-center"><i class="fas fa-solid fa-box nav-icon">
                                            <i class="fas fa-solid fa-sign-in-alt"></i></i></h3>
                                    <small>
                                        <span class="text-muted">
                                            Nombre del Producto que Salio :
                                        </span>
                                    </small>
                                    <h3> {{salidasRecibidas.nombreProducto}} </h3>
                                </div>
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-4 text-center">
                                                <div class="form-group">
                                                    <small>
                                                        Tipo Producto:
                                                        <!--Boton que activara el modal para modificar datos-->
                                                        <button type="button" data-toggle="modal"
                                                            data-target="#tipoProducto" class="btn btn-xs btn-OpenEdit">
                                                            <i class="fa-solid fas fa-edit"></i>Editar
                                                        </button>
                                                    </small>
                                                    <!--Variable-->
                                                    <p id="vtitle">{{salidasRecibidas.tipoProducto}}
                                                        <span class="text-muted"></span>
                                                    </p>
                                                </div>
                                            </div>


                                            <div class="col-md-4 text-center">
                                                <div class="form-group">
                                                    <small>
                                                        Nombre Producto:
                                                        <button type="button" data-toggle="modal"
                                                            data-target="#producto" class="btn btn-xs btn-OpenEdit">
                                                            <i class="fa-solid fas fa-edit"></i>Editar
                                                        </button>
                                                    </small>
                                                    <p id="vtitle">{{salidasRecibidas.nombreProducto}}</p>

                                                    <span class="text-muted"></span>
                                                </div>
                                            </div>


                                            <div class="col-md-4 text-center">
                                                <div class="form-group">
                                                    <small>
                                                        Categoria:
                                                        <button type="button" data-toggle="modal"
                                                            data-target="#categoria" class="btn btn-xs btn-OpenEdit">
                                                            <i class="fa-solid fas fa-edit"></i>Editar
                                                        </button>
                                                    </small>
                                                    <p id="vtitle">{{salidasRecibidas.categoria}}</p>
                                                    <span class="text-muted"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                         

                                            <div class="col-md-4 text-center">
                                                <div class="form-group ">
                                                    <small>
                                                        Seller:
                                                        <button type="button" data-toggle="modal"
                                                            data-target="#distribuidor" class="btn btn-xs btn-OpenEdit">
                                                            <i class="fa-solid fas fa-edit"></i>Editar
                                                        </button>
                                                    </small>
                                                    <p id="vtitle">{{salidasRecibidas.distribuidor}}</p>
                                                    <span class="text-muted"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4 text-center">
                                                <div class="form-group ">
                                                    <small>
                                                        Transportista:
                                                        <button type="button" data-toggle="modal"
                                                            data-target="#transportista"
                                                            class="btn btn-xs btn-OpenEdit">
                                                            <i class="fa-solid fas fa-edit"></i>Editar
                                                        </button>
                                                    </small>
                                                    <p id="vtitle">{{salidasRecibidas.transportista}}</p>
                                                    <span class="text-muted"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4 text-center">
                                                <div class="form-group ">
                                                    <small>
                                                        Unidad:
                                                        <button type="button" data-toggle="modal" data-target="#unidad"
                                                            class="btn btn-xs btn-OpenEdit">
                                                            <i class="fa-solid fas fa-edit"></i>Editar
                                                        </button>
                                                    </small>
                                                    <p id="vtitle">{{salidasRecibidas.unidad}}</p>
                                                    <span class="text-muted"></span>
                                                </div>
                                            </div>
                                        </div><!--</Row-->

                                        <div class="row">
                        
                                            <div class="col-md-4 text-center">
                                                <div class="form-group ">
                                                    <small>
                                                        Placas:
                                                        <button type="button" data-toggle="modal" data-target="#placas"
                                                            class="btn btn-xs btn-OpenEdit">
                                                            <i class="fa-solid fas fa-edit"></i>Editar
                                                        </button>
                                                    </small>
                                                    <p id="vtitle">{{salidasRecibidas.placas}}</p>
                                                    <span class="text-muted"></span>
                                                </div>
                                            </div>
                                            <br>

                                            <div class="col-md-4 text-center">
                                                <div class="form-group ">
                                                    <small>
                                                        Operador:
                                                        <button type="button" data-toggle="modal"
                                                            data-target="#operador" class="btn btn-xs btn-OpenEdit">
                                                            <i class="fa-solid fas fa-edit"></i>Editar
                                                        </button>
                                                    </small>
                                                    <p id="vtitle">{{salidasRecibidas.operador}}</p>
                                                    <span class="text-muted"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- /.MODAL NOMNBRE PRODUCTO -->
            <div class="modal fade" id="producto">
                <div class="modal-dialog">
                    <!--Se manda la funcion de app ruta, key del id de la busqueda  y en campo el  que se va actualizar. Junto con el metodo-->
                    <form
                        action="{{url_for('actualizarSalida', key=salidasRecibidas.identificador, campo='nombreProducto')}}"
                        method="POST">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Editar Nombre del Producto</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <label>Seleccione el producto:</label>
                                <select class="form-control" name="dato">
                                    <!-- for CATEGORIA se itera para que aparezcan en productos-->
                                    {% for dato in entradasRecibidas %}
                                    <option class="form-control rounded-pill" value="{{dato.nombreProducto}}">
                                        {{dato.nombreProducto}}</option>
                                    </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="modal-footer justify-content-between">
                                <button type="button" class="btn btn-outline-danger" data-dismiss="modal"><i
                                        class="fa-solid fas fa-user-minus"></i>Cerrar</button>
                                <button type="submit" class="btn btn-outline-success"><i
                                        class="fa-solid fas fa-user-check"></i>Guardar</button>
                            </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- /.MODAL TIPO PRODCUTO -->
        <div class="modal fade" id="tipoProducto">
            <div class="modal-dialog">
                <form action="{{url_for('actualizarSalida', key=salidasRecibidas.identificador, campo='tipoProducto')}}"
                    method="post">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Editar Tipo de Producto</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <label>Tipo de Producto:</label>
                            <select class="form-control" name="dato">
                                <option selected>Selecciona el Tipo de Producto</option>
                                <option>INTERNO</option>
                                <option>EXTERNO</option>
                            </select>
                        </div>
                        <div class="modal-footer justify-content-between">
                            <button type="button" class="btn btn-outline-danger" data-dismiss="modal"><i
                                    class="fa-solid fas fa-user-minus"></i>Cerrar</button>
                            <button type="submit" class="btn btn-outline-success"><i
                                    class="fa-solid fas fa-user-check"></i>Guardar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>


        <!-- /.MODAL CANTIDAD -->
        <div class="modal fade" id="cantidad">
            <div class="modal-dialog">
                <form action="{{url_for('actualizarSalida', key=salidasRecibidas.identificador, campo='cantidad')}}"
                    method="post">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Editar Cantidad</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <input class="form-control rounded-pill" placeholder="{{salidasRecibidas.cantidad}}"
                                type="number" name="dato">
                        </div>
                        <div class="modal-footer justify-content-between">
                            <button type="button" class="btn btn-outline-danger" data-dismiss="modal"><i
                                    class="fa-solid fas fa-user-minus"></i>Cerrar</button>
                            <button type="submit" class="btn btn-outline-success"><i
                                    class="fa-solid fas fa-user-check"></i>Guardar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>


        <!-- /.MODAL CATEGORIA -->
        <div class="modal fade" id="categoria">
            <div class="modal-dialog">
                <form action="{{url_for('actualizarSalida', key=salidasRecibidas.identificador, campo='categoria')}}"
                    method="post">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Editar categoria</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <label>Seleccione la categoria:</label>
                            <select class="form-control" name="dato">
                                <!-- for CATEGORIA se itera para que aparezcan en productos-->
                                {% for dato in CategoriasRecibidas %}
                                <option class="form-control rounded-pill" value="{{dato.nombreCategoria}}">
                                    {{dato.nombreCategoria}}</option>
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="modal-footer justify-content-between">
                            <button type="button" class="btn btn-outline-danger" data-dismiss="modal"><i
                                    class="fa-solid fas fa-user-minus"></i>Cerrar</button>
                            <button type="submit" class="btn btn-outline-success"><i
                                    class="fa-solid fas fa-user-check"></i>Guardar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!-- /.MODAL SELLER / DISTRIBUIDOR -->
        <div class="modal fade" id="distribuidor">
            <div class="modal-dialog">
                <form action="{{url_for('actualizarSalida', key=salidasRecibidas.identificador, campo='distribuidor')}}"
                    method="post">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Editar Seller</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <label>Seleccione el seller:</label>
                            <select class="form-control" name="dato">
                                <!-- for DISTRIBUIDOR se itera para que aparezcan en ENTRADAS-->
                                {% for dato in distribuidorRecibido %} <!-- -->
                                <option class="form-control rounded-pill" value="{{dato.nombre}}">
                                    {{dato.nombre}}</option>
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="modal-footer justify-content-between">
                            <button type="button" class="btn btn-outline-danger" data-dismiss="modal"><i
                                    class="fa-solid fas fa-user-minus"></i>Cerrar</button>
                            <button type="submit" class="btn btn-outline-success"><i
                                    class="fa-solid fas fa-user-check"></i>Guardar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>


        <!-- /.MODAL TRANSPORTISTA-->
        <div class="modal fade" id="transportista">
            <div class="modal-dialog">
                <form
                    action="{{url_for('actualizarSalida', key=salidasRecibidas.identificador, campo='transportista')}}"
                    method="post">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Editar Transportista</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <label>Seleccione el Transportista:</label>
                            <select class="form-control" name="dato">
                                <!-- for DISTRIBUIDOR se itera para que aparezcan en ENTRADAS-->
                                {% for dato in transportistaRecibido %} <!-- -->
                                <option class="form-control rounded-pill" value="{{dato.nombre}}">
                                    {{dato.nombre}}</option>
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="modal-footer justify-content-between">
                            <button type="button" class="btn btn-outline-danger" data-dismiss="modal"><i
                                    class="fa-solid fas fa-user-minus"></i>Cerrar</button>
                            <button type="submit" class="btn btn-outline-success"><i
                                    class="fa-solid fas fa-user-check"></i>Guardar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!-- /.MODAL UNIDAD -->
        <div class="modal fade" id="unidad">
            <div class="modal-dialog">
                <form action="{{url_for('actualizarSalida', key=salidasRecibidas.identificador, campo='unidad')}}"
                    method="post">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Editar Unidad</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <label>Tipo de Unidad:</label>
                            <select class="form-control" name="dato">
                                <option selected>Seleccione la Unidad</option>
                                <option>Moto</option>
                                <option>Sedan</option>
                                <option>Unidad 1.5</option>
                                <option>Unidad 3.5</option>
                            </select>
                        </div>
                        <div class="modal-footer justify-content-between">
                            <button type="button" class="btn btn-outline-danger" data-dismiss="modal"><i
                                    class="fa-solid fas fa-user-minus"></i>Cerrar</button>
                            <button type="submit" class="btn btn-outline-success"><i
                                    class="fa-solid fas fa-user-check"></i>Guardar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!-- /.MODAL PLACAS -->
        <div class="modal fade" id="placas">
            <div class="modal-dialog">
                <form action="{{url_for('actualizarSalida', key=salidasRecibidas.identificador, campo='placas')}}"
                    method="post">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Editar Placas</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <input class="form-control rounded-pill" type="text"
                                placeholder="{{salidasRecibidas.placas}}" name="dato" id="dato" onblur="upperCase()">
                        </div>
                        <div class="modal-footer justify-content-between">
                            <button type="button" class="btn btn-outline-danger" data-dismiss="modal"><i
                                    class="fa-solid fas fa-user-minus"></i>Cerrar</button>
                            <button type="submit" class="btn btn-outline-success"><i
                                    class="fa-solid fas fa-user-check"></i>Guardar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>


        <!-- /.MODAL OPERADOR -->
        <div class="modal fade" id="operador">
            <div class="modal-dialog">
                <form action="{{url_for('actualizarSalida', key=salidasRecibidas.identificador, campo='operador')}}"
                    method="post">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Editar Operador</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <input class="form-control rounded-pill" placeholder="{{salidasRecibidas.operador}}"
                                name="dato">
                        </div>
                        <div class="modal-footer justify-content-between">
                            <button type="button" class="btn btn-outline-danger" data-dismiss="modal"><i
                                    class="fa-solid fas fa-user-minus"></i>Cerrar</button>
                            <button type="submit" class="btn btn-outline-success"><i
                                    class="fa-solid fas fa-user-check"></i>Guardar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="text-center">
            <a href="/operaciones-salidas" class="nav-link text-warning">
                <i class="far fa-clipboard"> Consultar Salidas</i></a>
        </div>
    </div>

    <!--Pie de pagina-->
    {% include 'HOME/MODULOS/footer.html' %}
    <!--Side - bar control-->
    {% include 'HOME/MODULOS/side-bar-control.html' %}
    <!--Sripts-->
    {% include 'HOME/MODULOS/scripts.html' %}
    </div>
</body>

</html>

<!--FUNCION MAYUSCULAS-->
<script type="text/javascript">
    function upperCase() {
        var x = document.getElementById("dato").value
        document.getElementById("dato").value = x.toUpperCase();
    }
</script>