<!DOCTYPE html>
<html lang="en">
{% include 'HOME/MODULOS/header.html' %}

<body class="hold-transition sidebar-mini">
    <div class="wrapper"> <!--Ajuste de tamaño-->
        <div class="preloader flex-column justify-content-center align-items-center"> <!--Telon-->
            <!--Animacion-->
            <img class="animation__wobble" src="{{ url_for('static', filename = 'dist/img/icons/LOGO.png')}}" alt="LOGO"
                height="80" width="80" />
        </div>
        <!--Navbar-->
        {% include 'HOME/MODULOS/nav-bar.html' %}
        <!-- /.navbar -->

        <!--Menu-->
        {% include 'HOME/MODULOS/menu.html' %}
        <!--CONTENIDO- Para que no se rompa el diseño-->
        <div class="content-wrapper">
            <section class="container mt-4">
                <!--Agregar-->
                <div class="card card-teal">
                    <div class="card-header">
                        <h3 class="card-title"> <i class="fas fa-solid fa-sign-out-alt"> </i>
                            <font face="Century"><strong> Agregar Salidas </font></strong>
                        </h3>
                    </div>
                    <!--FORMULARIO -->
                    <form action="/agregar-nuevas-salidas" method="POST">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <!-- TIPO PRODCUTO. 
                                    INTERNO O EXTERNO -->
                                    <div class="form-group">
                                        <label>
                                            <font face="Century">Tipo Producto
                                        </label></font>
                                        <div class="input-group sm-1">
                                            <span class="input-group-text" id="basic-addon1"><i
                                                    class="fas fa-box-open"></i></span>
                                            <select class="form-control" name="tipoProducto">
                                                
                                                <option selected disabled>Selecciona el Tipo producto</option>
                                                <option>
                                                    INTERNO
                                                </option>
                                                <option>
                                                    EXTERNO
                                                </option>
                                            </select>
                                        </div>
                                    </div>

                                    <!--NOMBRE PRODUCTO-->
                                    <div class="form-group">
                                        <label>
                                            <font face="Century">Nombre Producto
                                        </label></font>
                                        <div class="input-group sm-1">
                                            <span class="input-group-text" id="basic-addon1"><i
                                                    class="fas fa-boxes"></i></span>
                                            <select class="form-control" name="nombreProducto">
                                                <!-- for PRODUCTO se itera para que aparezcan en productos-->
                                                <option selected disabled>Selecciona el producto</option>
                                                {% for dato in entradasRecibidas %}
                                                <option value="{{dato.nombreProducto}}">{{dato.nombreProducto}}</option>
                                                </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label>
                                            <font face="Century">Categoria
                                        </label></font>
                                        <div class="input-group sm-1">
                                            <span class="input-group-text" id="basic-addon1"><i
                                                    class="fas fa-boxes"></i></span>
                                            <select class="form-control" name="categoria">
                                                <!-- for CATEGORIA se itera para que aparezcan en productos-->
                                                <option selected disabled>Selecciona la categoria</option>
                                                {% for dato in CategoriasRecibidas %}
                                                <option value="{{dato.nombreCategoria}}">{{dato.nombreCategoria}}
                                                </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>


                                    <!-- CANTIDAD -->
                                    <div class="form-group">
                                        <label>
                                            <font face="Century">Cantidad
                                        </label></font>
                                        <div class="input-group mb-3">
                                            <span class="input-group-text" id="basic-addon1"><i
                                                    class="fas fa-calendar-plus"></i></span>
                                            <input type="number" class="form-control" name="cantidad" required>
                                        </div>
                                    </div>

                                    <!-- MOTIVO -->
                                    <div class="form-group">
                                        <label>
                                            <font face="Century">Motivo de salida
                                        </label></font>
                                        <div class="input-group mb-3">
                                            <span class="input-group-text" id="basic-addon1"><i
                                                    class="fas fa-list"></i></span>
                                                    <textarea class="form-control" rows="2" name="motivo" required ></textarea>
                                        </div>
                                    </div>
                                </div>


                                <!-- /. *COL DERECHA*  -->
                                <div class="col-md-6">
                                    <!-- SELLER / DISTRIBUIDOR -->
                                    <div class="form-group">
                                        <label>
                                            <font face="Century">Seller
                                        </label></font>
                                        <div class="input-group sm-1">
                                            <span class="input-group-text" id="basic-addon1"><i
                                                    class="fas fa-truck-loading"></i></span>
                                            <select class="form-control" name="distribuidor">
                                                <!-- for DISTRIBUIDORse itera para que aparezcan en ENTRADAS-->
                                                <option selected disabled>Selecciona el seller</option>
                                                {% for dato in distribuidorRecibido %}
                                                <option value="{{dato.nombre}}">{{dato.nombre}}</option>
                                                </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>

                                    <!-- TRANSPORTISTA -->
                                    <div class="form-group">
                                        <label>
                                            <font face="Century">Transportista
                                        </label></font>
                                        <div class="input-group sm-1">
                                            <span class="input-group-text" id="basic-addon1"><i
                                                    class="fas fa-shipping-fast"></i></span>
                                            <select class="form-control" name="transportista">
                                                <!-- for DISTRIBUIDORse itera para que aparezcan en ENTRADAS-->
                                                <option selected disabled>Selecciona el transportista</option>
                                                {% for dato in transportistaRecibido %}
                                                <option value="{{dato.nombre}}">{{dato.nombre}}</option>
                                                </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>

                                    <!-- UNIDAD -->
                                    <div class="form-group">
                                        <label>
                                            <font face="Century">Unidad
                                        </label></font>
                                        <div class="input-group sm-1">
                                            <span class="input-group-text" id="basic-addon1"><i
                                                    class="fas fa-truck"></i></span>
                                            <select class="form-control" name="unidad">
                                                <!-- for UNIDAD se itera para que aparezcan en SALIDAS-->
                                                <option selected disabled>Selecciona la Unidad</option>
                                                <option>Motos</option>
                                                <option>Sedan</option>
                                                <option>Unidad 1.5</option>
                                                <option>Unidad 3.5</option>
                                            </select>
                                        </div>
                                    </div>

                                    <!--PLACAS-->
                                    <div class="form-group">
                                        <label>
                                            <font face="Century">Placas
                                        </label></font>
                                        <div class="input-group mb-3">
                                            <span class="input-group-text" id="basic-addon1"><i
                                                    class="fas fa-newspaper"></i></span>
                                            <input class="form-control" type="text" name="placas" id="placas"
                                                onblur="upperCase()" required>
                                        </div>
                                    </div>

                                    <!--OPERADOR-->
                                    <div class="form-group">
                                        <label>
                                            <font face="Century">Operador
                                        </label></font>
                                        <div class="input-group mb-3">
                                            <span class="input-group-text" id="basic-addon1"><i
                                                    class="fas fa-user-tag"></i></span>
                                            <input class="form-control" name="operador" required>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!--BTN AGREGAR-->
                            <div class="card-footer">
                                <div class="text-center">
                                    <button type="submit" class="btn btn-outline-success">
                                        <i class="fas fa-solid fa-save">
                                            <font face="Century">Agregar</button></i></font>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        </div>
        <!--Pie de pagina-->
        {% include 'HOME/MODULOS/footer.html' %}
        <!--Side- bar control -->
        {% include 'HOME/MODULOS/side-bar-control.html' %}
        <!--Sripts-->
        {% include 'HOME/MODULOS/scripts.html' %}
    </div>

    <!--FUNCION MAYUSCULAS-->
    <script type="text/javascript">
        function upperCase() {
            var x = document.getElementById("placas").value
            document.getElementById("placas").value = x.toUpperCase();
        }
    </script>
    <!--FUNCION MAYUSCULAS
CAPITALIZE. Primera letra en mayusculas-->
    <style type="text/css">
        .transformation1 {
            text-transform: capitalize;
        }

        .transformation2 {
            text-transform: uppercase;
        }
    </style>

</body>
</html>