<!DOCTYPE html>
<html lang="en">
{% include 'HOME/MODULOS/header.html' %}

<body class="hold-transition sidebar-mini">
    <div class="wrapper"> <!--Ajuste de tamaño-->
        <div class="preloader flex-column justify-content-center align-items-center"> <!--Telon-->
            <!--Animacion-->
            <img class="animation__wobble" src="{{ url_for('static', filename = 'dist/img/icons/LOGO.png')}}" alt="LOGO"
                height="80" width="80" />
        </div>
        <!--Navbar-->
        {% include 'HOME/MODULOS/nav-bar.html' %}
        <!-- /.navbar -->

        <!--Menu-->
        {% include 'HOME/MODULOS/menu.html' %}
        <!--CONTENIDO- Para que no se rompa el diseño-->
        <div class="content-wrapper">
            <section class="content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title"> <strong> <i class="fas fa-solid fa-tools"> <i
                                                class="fas fa-solid fa-sign-out-alt nav-icon"></i></i>
                                        <font face="Castellar"> Operaciones Salidas </h3>
                                </font></strong>
                            </div>
                            <!-- AGREGAR -->
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                <!--Se pone la ruta del donde esta el formulario para agragar dicho prodcucto-->
                                <a href="/agregar-salidas" class="nav-link">
                                    <button type="submit" class="btn btn-outline-success"><i
                                            class="fas fa-solid fa-plus">
                                            Nueva Salida</i></button> </a>
                            </div>
                            <!-- / / -->
                            <!-- /.card-header -->
                            <div class="card-body">
                                <table id="example" class="table-bordered table-striped text-nowrap" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th><i class="fas fa-solid fa-hashtag">
                                                    <font face="Calibri">Identificador</th></i></font>
                                            <th><i class="fas fa-solid fa-calendar-alt">
                                                    <font face="Calibri">Fecha</th></i></font>
                                            <th><i class="fas fa-solid fa-box-open">
                                                    <font face="Calibri">Tipo Producto</th></i></font>
                                            <th><i class="fas fa-solid fa-box">
                                                    <font face="Calibri">Nombre Producto</th></i></font>
                                            <th><i class="fas fa-solid fa-boxes">
                                                    <font face="Calibri">Categoria</th></i></font>
                                            <th><i class="fas fa-solid fa-calendar-plus">
                                                    <font face="Calibri">Cantidad</th></i></font>
                                            <th><i class="fas fa-solid fa-dolly">
                                                    <font face="Calibri">Distribuidor</th></i></font>
                                            <th><i class="fas fa-solid fa-truck">
                                                    <font face="Calibri">Unidad</th></i></font>
                                            <th><i class="fas fa-solid fa-newspaper">
                                                    <font face="Calibri">Placas</th></i></font>
                                            <th><i class="fas fa-solid fa-user-tag">
                                                    <font face="Calibri">Operador</th></i></font>
                                            <th><i class="fas fa-solid fa-tools">
                                                    <font face="Calibri">Acciones</th></i></font>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!--Iteracion por cada dato encontrado-->
                                        {% for dato in salidasRecibidas %}
                                        <tr>
                                            <td class="text-center">{{dato.identificador}}</td>
                                            <td class="text-center">{{dato.fecha}}</td>
                                            <td class="text-center">{{dato.tipoProducto}}</td>
                                            <td class="text-center">{{dato.nombreProducto}}</td>
                                            <td class="text-center">{{dato.categoria}}</td>
                                            <td class="text-center">{{dato.cantidad}}</td>
                                            <td class="text-center">{{dato.distribuidor}}</td>
                                            <td class="text-center">{{dato.unidad}}</span></td>
                                            <td class="text-center">{{dato.placas}}</td>
                                            <td class="text-center">{{dato.operador}}</td>
                                            <!--Boton Editar-->
                                            <td class="text-center"> <a href="{{url_for('editarInfoSalida', key=dato.identificador)}}" 
                                                class="btn btn-outline-warning"><i class="fas fa-edit nav-icon"></i></a>
                                            <!--Boton Eliminar-->
                                            <a href="{{url_for('eliminarSalida', key=dato.identificador)}}" 
                                            class="btn btn-outline-danger"><i class="fas fa-solid fa-screwdriver fa-trash-alt nav-icon"></i>
                                                </a>
                                            </td> 
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                </div>
                <!-- /.container-fluid -->
            </section>
        </div>

        <!--Pie de pagina-->
        {% include 'HOME/MODULOS/footer.html' %}
        <!--Side- bar control -->
        {% include 'HOME/MODULOS/side-bar-control.html' %}
        <!--Sripts-->
        {% include 'HOME/MODULOS/scripts.html' %}
    </div>
</body>
</html>

<!--Para tabla reponsiva y scoll horizontal-->
<script>
    $(document).ready(function () {
        $('#example').DataTable({
            scrollX: true,
            //para usar los botones   
            responsive: "true",
            dom: 'Bfrtilp',
            buttons: [
                {
                    extend: 'excelHtml5',
                    text: '<i class="fas fa-file-excel"></i> ',
                    titleAttr: 'Exportar a Excel',
                    className: 'btn btn-success'
                },

                {
                    extend: 'print',
                    text: '<i class="fas fa-print"></i> ',
                    titleAttr: 'Imprimir',
                    className: 'btn btn-info'
                },
            ]
        });
    });

</script>

<style>
    div.dataTables_wrapper {
        width: 100%;
        margin: 0 auto;
    }

    /*para alinear los botones y cuadro de busqueda*/
    .btn {
        display: inline-block;
        margin-right: 7px;
        cursor: pointer;
    }
</style>