<!DOCTYPE html>
<html lang="en">
{% include 'HOME/MODULOS/header.html' %}

<body class="hold-transition sidebar-mini">
    <div class="wrapper"> <!--Ajuste de tamaño-->
        <div class="preloader flex-column justify-content-center align-items-center"> <!--Telon-->
            <!--Animacion-->
            <img class="animation__wobble" src="{{ url_for('static', filename = 'dist/img/icons/LOGO.png')}}" alt="LOGO"
                height="80" width="80" />
        </div>
        <!--Navbar-->
        {% include 'HOME/MODULOS/nav-bar.html' %}
        <!-- /.navbar -->

        <!--Menu-->
        {% include 'HOME/MODULOS/menu.html' %}
        <!--CONTENIDO- Para que no se rompa el diseño-->
        <div class="content-wrapper">
            <section class="container mt-4">
                <div class="card">
                    <div class="card-header">
                        <h1 class="card-title"><strong><i class="fas fa-solid fa-users nav-icon">
                                    <font face="Castellar"> CLIENTE</strong></i></font>
                        </h1>
                    </div>
                    <!-- AGREGAR -->
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <!--Se pone la ruta del donde esta el formulario para agragar dicho prodcucto-->
                        <a href="/ingresar-clientes" class="nav-link">
                            <button type="submit" class="btn btn-outline-info"><i class="fas fa-solid fa-user-plus">
                                    Nuevo Cliente</i></button> </a>
                    </div>
                    <!-- / / -->

                    <!--Se pone la tabla-->
                    <table id="example1" class="table table-bordered table-striped">

                        <thead>
                            <tr>
                                <th><i class="fas fa-hashtag">
                                        <font face="Century"> ID </font>
                                    </i></th>
                                <th><i class="fas fa-user-circle">
                                        <font face="Calibri"> Nombre </font>
                                    </i></th>
                                <th><i class="fas fa-stamp">
                                        <font face="Calibri"> Apellidos </font>
                                    </i></th>
                                <th><i class="fas fa-sort-numeric-up">
                                        <font face="Calibri"> Edad </font>
                                    </i></th>
                                <th><i class="fas fa-envelope">
                                        <font face="Calibri"> Correo </font>
                                    </i></th>
                                <th><i class="fas fa-phone">
                                        <font face="Calibri"> Telefono </font>
                                    </i></th>
                                <th><i class="fas fa-map-marker-alt">
                                        <font face="Calibri"> Direccion </font>
                                    </i></th>
                                <th><i class="fas fa-building">
                                        <font face="Calibri"> Empresa </font>
                                    </i></th>
                                <th><i class="fas fa-solid fa-screwdriver fa-wrench nav-icon" class="text-center">
                                        <font face="Century"> Acciones </font>
                                </th></i>
                            </tr>
                        </thead>
                        <tbody>
                            <!--Iteracion por cada dato encontrado-->
                            {% for dato in clientesRecibidos %}
                            <tr>
                                <td>{{dato.codigo}}</td>
                                <td>{{dato.nombres}}</td>
                                <td>{{dato.apellidos}}</td>
                                <td>{{dato.edad}}</td>
                                <td>{{dato.correo}}</td>
                                <td>{{dato.telefono}}</td>
                                <td>{{dato.direccion}}</td>
                                <td>{{dato.empresa}}</td>
                                <td class="text-center"> <a href="{{url_for ('editarInfoClientes', key=dato.codigo)}}"
                                        class="btn btn-outline-warning"> <i class="fas fa-user-edit nav-icon"></i>
                                    </a> <!--Boton Editar-->
                                    <a href="{{url_for ('eliminarClientes', key=dato.codigo)}}"
                                        class="btn btn-outline-danger"><i
                                            class="fas fa-solid fa-user-times nav-icon"></i> </a>
                                </td> <!--Boton Eliminar-->
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </section>





        </div>

        <!--Pie de pagina-->
        {% include 'HOME/MODULOS/footer.html' %}

        <!--Side- bar control -->
        {% include 'HOME/MODULOS/side-bar-control.html' %}

        <!--Sripts-->
        {% include 'HOME/MODULOS/scripts.html' %}
    </div>

</body>

</html>